<?xml version="1.0" encoding="UTF-8"?>  
<Configuration>  
    <Appenders>  
	    <!-- 控制台打印 -->
	    <Console name="CONSOLE" target="SYSTEM_OUT">
	        <PatternLayout pattern="%d %-5p [%t] (%F:%L) - %m%n"/>
	    </Console>
	    <!-- 按天每天备份一个日志 -->
	    <RollingFile name="BossServerInfo" fileName="${bossCommonClient.logPath}bigData_server_info.log" filePattern="${bossCommonClient.logPath}bigData_server_info_%d{yyyy-MM-dd}_%i.log.gz">
	        <PatternLayout pattern="%d %-5p [%t] (%F:%L) - %m%n" />
	        <Policies>
	            <!-- 按天分割 -->
	            <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
	            <!-- 超过500M增加一个 -->
	            <SizeBasedTriggeringPolicy size="500M" />
	        </Policies>
	        <!-- 最多备份10个 -->
	        <DefaultRolloverStrategy max="10" />
	    </RollingFile>
	    
	    <RollingFile name="BossServerError" fileName="${bossCommonClient.logPath}bigData_server_error.log" filePattern="${bossCommonClient.logPath}bigData_server_error_%d{yyyy-MM-dd}_%i.log.gz">
	        <PatternLayout pattern="%d %-5p [%t] (%F:%L) - %m%n" />
	        <Policies>
	            <!-- 按天分割 -->
	            <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
	            <!-- 超过500M增加一个 -->
	            <SizeBasedTriggeringPolicy size="500M" />
	        </Policies>
	        <!-- 最多备份10个 -->
	        <DefaultRolloverStrategy max="10" />
	        <Filters>
	        	<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
	            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
	        </Filters>
	    </RollingFile>
	    
	    <RollingFile name="BossServerDao" fileName="${bossCommonClient.logPath}bigData_server_sql.log" filePattern="${bossCommonClient.logPath}bigData_server_sql_%d{yyyy-MM-dd}_%i.log.gz">
	        <PatternLayout pattern="%d %-5p [%t] (%F:%L) - %m%n" />
	        <Policies>
	            <!-- 按天分割 -->
	            <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
	            <!-- 超过500M增加一个 -->
	            <SizeBasedTriggeringPolicy size="500M" />
	        </Policies>
	        <!-- 最多备份10个 -->
	        <DefaultRolloverStrategy max="10" />
	        <Filters>
	        	<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
	        	<ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
	            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
	        	<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
	            <ThresholdFilter level="TRACE" onMatch="DENY" onMismatch="NEUTRAL"/>
	        </Filters>
	    </RollingFile>
	    
    </Appenders>  
   <Loggers>
	    <Root level="info">
	        <AppenderRef ref="CONSOLE"/>
	        <AppenderRef ref="BossServerInfo"/>
	        <AppenderRef ref="BossServerError"/>
	    </Root>
	    
    	<logger name="com.heepay.boss.dao" level="DEBUG" additivity="false">
            <AppenderRef ref="BossServerDao"/>
        </logger>
    </Loggers>    
</Configuration>  