<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.manage.modules.differences.dao.SettleDifferChannelDao" >
  
  <sql id="clearingChannelRecordColumns">
		s.differ_chanbill_id  AS "differChanbillId",
		s.channel_code AS "channelCode",
		s.channel_type AS "channelType",
		s.currency AS "currency",
		s.error_bath AS "errorBath",
		s.error_date  AS "errorDate",
		s.update_author AS "updateAuthor",
		s.deal_time  AS "dealTime",
		s.trans_no  AS "transNo",
		s.payment_id  AS "paymentId",
		s.success_amount  AS "successAmount",
		s.cost  AS "cost",
		s.bill_type  AS "billType",
		s.check_status  AS "checkStatus",
		s.check_message  AS "checkMessage",
		s.error_status  AS "errorStatus"
	</sql>
	<select id="findList" resultType="SettleDifferChannel">
		SELECT 
			<include refid="clearingChannelRecordColumns"/>
		FROM settle_differ_channel s
		<where>
			
			<!-- 通道对账日期 -->
			<if test="beginOperEndTime != null and endOperEndTime != null">
				AND s.error_date BETWEEN date_format(#{beginOperEndTime},'%Y-%m-%d %H:%i:%s') AND date_format(#{endOperEndTime},'%Y-%m-%d %H:%i:%s')
			</if>
			
			<!-- error_bath-->
			<if test="errorBath != null and errorBath != ''">
				AND s.error_bath = #{errorBath}
			</if>
			<!-- payment_id-->
			<if test="paymentId != null and paymentId != ''">
				AND s.payment_id = #{paymentId}
			</if>
			<!-- trans_no-->
			<if test="transNo != null and transNo != ''">
				AND s.trans_no = #{transNo}
			</if>
			
			<!-- bill_type-->
			<if test="billType != null and billType != ''">
				AND s.bill_type = #{billType}
			</if>
			<!-- error_status-->
			<if test="errorStatus != null and errorStatus != ''">
				AND s.error_status = #{errorStatus}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY differ_chanbill_id DESC,${page.orderBy}
			</when>
			<otherwise>
				ORDER BY differ_chanbill_id DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findListExcel" resultType="hashmap">
		SELECT 
			<include refid="clearingChannelRecordColumns"/>
		FROM settle_differ_channel s
		<where>
			
			<!-- 通道对账日期 -->
			<if test="beginOperEndTime != null and endOperEndTime != null">
				AND s.error_date BETWEEN date_format(#{beginOperEndTime},'%Y-%m-%d %H:%i:%s') AND date_format(#{endOperEndTime},'%Y-%m-%d %H:%i:%s')
			</if>
			
			<!-- error_bath-->
			<if test="errorBath != null and errorBath != ''">
				AND s.error_bath = #{errorBath}
			</if>
			<!-- payment_id-->
			<if test="paymentId != null and paymentId != ''">
				AND s.payment_id = #{paymentId}
			</if>
			<!-- trans_no-->
			<if test="transNo != null and transNo != ''">
				AND s.trans_no = #{transNo}
			</if>
			
			<!-- bill_type-->
			<if test="billType != null and billType != ''">
				AND s.bill_type = #{billType}
			</if>
			<!-- error_status-->
			<if test="errorStatus != null and errorStatus != ''">
				AND s.error_status = #{errorStatus}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY differ_chanbill_id DESC,${page.orderBy}
			</when>
			<otherwise>
				ORDER BY differ_chanbill_id DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="getEntityById" resultType="SettleDifferChannel">
		SELECT 
			<include refid="clearingChannelRecordColumns"/>
		FROM settle_differ_channel s
		WHERE differ_chanbill_id = #{differChanbillId}
	</select>
	
	<update id="updateEntity" parameterType="SettleDifferChannel">
		UPDATE settle_differ_channel SET check_status= #{checkStatus},check_message= #{checkMessage},update_author=#{updateAuthor},deal_time=#{dealTime},error_status=#{errorStatus}
			WHERE differ_chanbill_id = #{differChanbillId}
	</update>
	
	<update id="updateErrorStatusById" parameterType="map">
		update settle_differ_channel set error_status=#{errorStatus} where differ_chanbill_id = #{differChanbillId}
	</update>
</mapper>