<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.billing.dao.ClearingMerchantRecordHisMapper" >
  <resultMap id="BaseResultMap" type="com.heepay.billing.entity.ClearingMerchantRecordHis" >
    <id column="his_id" property="hisId" jdbcType="BIGINT" />
    <result column="clearing_id" property="clearingId" jdbcType="BIGINT" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="merchant_type" property="merchantType" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="trans_no" property="transNo" jdbcType="VARCHAR" />
    <result column="trans_no_old" property="transNoOld" jdbcType="VARCHAR" />
    <result column="request_amount" property="requestAmount" jdbcType="DECIMAL" />
    <result column="success_time" property="successTime" jdbcType="TIMESTAMP" />
    <result column="settle_time" property="settleTime" jdbcType="TIMESTAMP" />
    <result column="settle_no" property="settleNo" jdbcType="VARCHAR" />
    <result column="settle_time_plan" property="settleTimePlan" jdbcType="TIMESTAMP" />
    <result column="settle_amount_plan" property="settleAmountPlan" jdbcType="DECIMAL" />
    <result column="settle_cyc" property="settleCyc" jdbcType="VARCHAR" />
    <result column="settle_bath" property="settleBath" jdbcType="VARCHAR" />
    <result column="fee_time" property="feeTime" jdbcType="TIMESTAMP" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="fee_way" property="feeWay" jdbcType="VARCHAR" />
    <result column="fee_settle_cyc" property="feeSettleCyc" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="VARCHAR" />
    <result column="check_flg" property="checkFlg" jdbcType="VARCHAR" />
    <result column="settle_status" property="settleStatus" jdbcType="VARCHAR" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="check_bath" property="checkBath" jdbcType="VARCHAR" />
    <result column="check_num" property="checkNum" jdbcType="INTEGER" />
    <result column="trans_type" property="transType" jdbcType="VARCHAR" />
    <result column="is_profit" property="isProfit" jdbcType="VARCHAR" />
    <result column="merchant_order_no" property="merchantOrderNo" jdbcType="VARCHAR" />
    <result column="busi_time" property="busiTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_zip" property="isZip" jdbcType="VARCHAR" />
    <result column="agent_name" property="agentName" jdbcType="VARCHAR" />
    <result column="agent_code" property="agentCode" jdbcType="BIGINT" />
    <result column="bankcard_type" property="bankcardType" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="account_No" property="accountNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="date_zip" property="dateZip" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    his_id, clearing_id, merchant_id, merchant_type, product_code, currency, trans_no, 
    trans_no_old, request_amount, success_time, settle_time, settle_no, settle_time_plan, 
    settle_amount_plan, settle_cyc, settle_bath, fee_time, fee, fee_way, fee_settle_cyc, 
    check_status, check_flg, settle_status, finish_time, check_bath, check_num, trans_type, 
    is_profit, merchant_order_no, busi_time, remark, is_zip, agent_name, agent_code, 
    bankcard_type, product_name, merchant_name, pay_time, account_No, create_time, pay_type, 
    date_zip
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.heepay.billing.entity.ClearingMerchantRecordHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clearing_merchant_record_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from clearing_merchant_record_his
    where his_id = #{hisId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from clearing_merchant_record_his
    where his_id = #{hisId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heepay.billing.entity.ClearingMerchantRecordHisExample" >
    delete from clearing_merchant_record_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heepay.billing.entity.ClearingMerchantRecordHis" >
    insert into clearing_merchant_record_his (his_id, clearing_id, merchant_id, 
      merchant_type, product_code, currency, 
      trans_no, trans_no_old, request_amount, 
      success_time, settle_time, settle_no, 
      settle_time_plan, settle_amount_plan, settle_cyc, 
      settle_bath, fee_time, fee, 
      fee_way, fee_settle_cyc, check_status, 
      check_flg, settle_status, finish_time, 
      check_bath, check_num, trans_type, 
      is_profit, merchant_order_no, busi_time, 
      remark, is_zip, agent_name, 
      agent_code, bankcard_type, product_name, 
      merchant_name, pay_time, account_No, 
      create_time, pay_type, date_zip
      )
    values (#{hisId,jdbcType=BIGINT}, #{clearingId,jdbcType=BIGINT}, #{merchantId,jdbcType=INTEGER}, 
      #{merchantType,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{transNo,jdbcType=VARCHAR}, #{transNoOld,jdbcType=VARCHAR}, #{requestAmount,jdbcType=DECIMAL}, 
      #{successTime,jdbcType=TIMESTAMP}, #{settleTime,jdbcType=TIMESTAMP}, #{settleNo,jdbcType=VARCHAR}, 
      #{settleTimePlan,jdbcType=TIMESTAMP}, #{settleAmountPlan,jdbcType=DECIMAL}, #{settleCyc,jdbcType=VARCHAR}, 
      #{settleBath,jdbcType=VARCHAR}, #{feeTime,jdbcType=TIMESTAMP}, #{fee,jdbcType=DECIMAL}, 
      #{feeWay,jdbcType=VARCHAR}, #{feeSettleCyc,jdbcType=VARCHAR}, #{checkStatus,jdbcType=VARCHAR}, 
      #{checkFlg,jdbcType=VARCHAR}, #{settleStatus,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}, 
      #{checkBath,jdbcType=VARCHAR}, #{checkNum,jdbcType=INTEGER}, #{transType,jdbcType=VARCHAR}, 
      #{isProfit,jdbcType=VARCHAR}, #{merchantOrderNo,jdbcType=VARCHAR}, #{busiTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{isZip,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR}, 
      #{agentCode,jdbcType=BIGINT}, #{bankcardType,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{merchantName,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, #{accountNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{payType,jdbcType=VARCHAR}, #{dateZip,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.heepay.billing.entity.ClearingMerchantRecordHis" >
    insert into clearing_merchant_record_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hisId != null" >
        his_id,
      </if>
      <if test="clearingId != null" >
        clearing_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="merchantType != null" >
        merchant_type,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="transNo != null" >
        trans_no,
      </if>
      <if test="transNoOld != null" >
        trans_no_old,
      </if>
      <if test="requestAmount != null" >
        request_amount,
      </if>
      <if test="successTime != null" >
        success_time,
      </if>
      <if test="settleTime != null" >
        settle_time,
      </if>
      <if test="settleNo != null" >
        settle_no,
      </if>
      <if test="settleTimePlan != null" >
        settle_time_plan,
      </if>
      <if test="settleAmountPlan != null" >
        settle_amount_plan,
      </if>
      <if test="settleCyc != null" >
        settle_cyc,
      </if>
      <if test="settleBath != null" >
        settle_bath,
      </if>
      <if test="feeTime != null" >
        fee_time,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="feeWay != null" >
        fee_way,
      </if>
      <if test="feeSettleCyc != null" >
        fee_settle_cyc,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="checkFlg != null" >
        check_flg,
      </if>
      <if test="settleStatus != null" >
        settle_status,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="checkBath != null" >
        check_bath,
      </if>
      <if test="checkNum != null" >
        check_num,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="isProfit != null" >
        is_profit,
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no,
      </if>
      <if test="busiTime != null" >
        busi_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isZip != null" >
        is_zip,
      </if>
      <if test="agentName != null" >
        agent_name,
      </if>
      <if test="agentCode != null" >
        agent_code,
      </if>
      <if test="bankcardType != null" >
        bankcard_type,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="accountNo != null" >
        account_No,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="dateZip != null" >
        date_zip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hisId != null" >
        #{hisId,jdbcType=BIGINT},
      </if>
      <if test="clearingId != null" >
        #{clearingId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantType != null" >
        #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null" >
        #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="transNoOld != null" >
        #{transNoOld,jdbcType=VARCHAR},
      </if>
      <if test="requestAmount != null" >
        #{requestAmount,jdbcType=DECIMAL},
      </if>
      <if test="successTime != null" >
        #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleTime != null" >
        #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleNo != null" >
        #{settleNo,jdbcType=VARCHAR},
      </if>
      <if test="settleTimePlan != null" >
        #{settleTimePlan,jdbcType=TIMESTAMP},
      </if>
      <if test="settleAmountPlan != null" >
        #{settleAmountPlan,jdbcType=DECIMAL},
      </if>
      <if test="settleCyc != null" >
        #{settleCyc,jdbcType=VARCHAR},
      </if>
      <if test="settleBath != null" >
        #{settleBath,jdbcType=VARCHAR},
      </if>
      <if test="feeTime != null" >
        #{feeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="feeWay != null" >
        #{feeWay,jdbcType=VARCHAR},
      </if>
      <if test="feeSettleCyc != null" >
        #{feeSettleCyc,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkFlg != null" >
        #{checkFlg,jdbcType=VARCHAR},
      </if>
      <if test="settleStatus != null" >
        #{settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkBath != null" >
        #{checkBath,jdbcType=VARCHAR},
      </if>
      <if test="checkNum != null" >
        #{checkNum,jdbcType=INTEGER},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="isProfit != null" >
        #{isProfit,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="busiTime != null" >
        #{busiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isZip != null" >
        #{isZip,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentCode != null" >
        #{agentCode,jdbcType=BIGINT},
      </if>
      <if test="bankcardType != null" >
        #{bankcardType,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="dateZip != null" >
        #{dateZip,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heepay.billing.entity.ClearingMerchantRecordHisExample" resultType="java.lang.Integer" >
    select count(*) from clearing_merchant_record_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clearing_merchant_record_his
    <set >
      <if test="record.hisId != null" >
        his_id = #{record.hisId,jdbcType=BIGINT},
      </if>
      <if test="record.clearingId != null" >
        clearing_id = #{record.clearingId,jdbcType=BIGINT},
      </if>
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.merchantType != null" >
        merchant_type = #{record.merchantType,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null" >
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.transNo != null" >
        trans_no = #{record.transNo,jdbcType=VARCHAR},
      </if>
      <if test="record.transNoOld != null" >
        trans_no_old = #{record.transNoOld,jdbcType=VARCHAR},
      </if>
      <if test="record.requestAmount != null" >
        request_amount = #{record.requestAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.successTime != null" >
        success_time = #{record.successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settleTime != null" >
        settle_time = #{record.settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settleNo != null" >
        settle_no = #{record.settleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.settleTimePlan != null" >
        settle_time_plan = #{record.settleTimePlan,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settleAmountPlan != null" >
        settle_amount_plan = #{record.settleAmountPlan,jdbcType=DECIMAL},
      </if>
      <if test="record.settleCyc != null" >
        settle_cyc = #{record.settleCyc,jdbcType=VARCHAR},
      </if>
      <if test="record.settleBath != null" >
        settle_bath = #{record.settleBath,jdbcType=VARCHAR},
      </if>
      <if test="record.feeTime != null" >
        fee_time = #{record.feeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fee != null" >
        fee = #{record.fee,jdbcType=DECIMAL},
      </if>
      <if test="record.feeWay != null" >
        fee_way = #{record.feeWay,jdbcType=VARCHAR},
      </if>
      <if test="record.feeSettleCyc != null" >
        fee_settle_cyc = #{record.feeSettleCyc,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStatus != null" >
        check_status = #{record.checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.checkFlg != null" >
        check_flg = #{record.checkFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.settleStatus != null" >
        settle_status = #{record.settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.finishTime != null" >
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkBath != null" >
        check_bath = #{record.checkBath,jdbcType=VARCHAR},
      </if>
      <if test="record.checkNum != null" >
        check_num = #{record.checkNum,jdbcType=INTEGER},
      </if>
      <if test="record.transType != null" >
        trans_type = #{record.transType,jdbcType=VARCHAR},
      </if>
      <if test="record.isProfit != null" >
        is_profit = #{record.isProfit,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantOrderNo != null" >
        merchant_order_no = #{record.merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.busiTime != null" >
        busi_time = #{record.busiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isZip != null" >
        is_zip = #{record.isZip,jdbcType=VARCHAR},
      </if>
      <if test="record.agentName != null" >
        agent_name = #{record.agentName,jdbcType=VARCHAR},
      </if>
      <if test="record.agentCode != null" >
        agent_code = #{record.agentCode,jdbcType=BIGINT},
      </if>
      <if test="record.bankcardType != null" >
        bankcard_type = #{record.bankcardType,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantName != null" >
        merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.accountNo != null" >
        account_No = #{record.accountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.dateZip != null" >
        date_zip = #{record.dateZip,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clearing_merchant_record_his
    set his_id = #{record.hisId,jdbcType=BIGINT},
      clearing_id = #{record.clearingId,jdbcType=BIGINT},
      merchant_id = #{record.merchantId,jdbcType=INTEGER},
      merchant_type = #{record.merchantType,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=VARCHAR},
      trans_no = #{record.transNo,jdbcType=VARCHAR},
      trans_no_old = #{record.transNoOld,jdbcType=VARCHAR},
      request_amount = #{record.requestAmount,jdbcType=DECIMAL},
      success_time = #{record.successTime,jdbcType=TIMESTAMP},
      settle_time = #{record.settleTime,jdbcType=TIMESTAMP},
      settle_no = #{record.settleNo,jdbcType=VARCHAR},
      settle_time_plan = #{record.settleTimePlan,jdbcType=TIMESTAMP},
      settle_amount_plan = #{record.settleAmountPlan,jdbcType=DECIMAL},
      settle_cyc = #{record.settleCyc,jdbcType=VARCHAR},
      settle_bath = #{record.settleBath,jdbcType=VARCHAR},
      fee_time = #{record.feeTime,jdbcType=TIMESTAMP},
      fee = #{record.fee,jdbcType=DECIMAL},
      fee_way = #{record.feeWay,jdbcType=VARCHAR},
      fee_settle_cyc = #{record.feeSettleCyc,jdbcType=VARCHAR},
      check_status = #{record.checkStatus,jdbcType=VARCHAR},
      check_flg = #{record.checkFlg,jdbcType=VARCHAR},
      settle_status = #{record.settleStatus,jdbcType=VARCHAR},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      check_bath = #{record.checkBath,jdbcType=VARCHAR},
      check_num = #{record.checkNum,jdbcType=INTEGER},
      trans_type = #{record.transType,jdbcType=VARCHAR},
      is_profit = #{record.isProfit,jdbcType=VARCHAR},
      merchant_order_no = #{record.merchantOrderNo,jdbcType=VARCHAR},
      busi_time = #{record.busiTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_zip = #{record.isZip,jdbcType=VARCHAR},
      agent_name = #{record.agentName,jdbcType=VARCHAR},
      agent_code = #{record.agentCode,jdbcType=BIGINT},
      bankcard_type = #{record.bankcardType,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      account_No = #{record.accountNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      pay_type = #{record.payType,jdbcType=VARCHAR},
      date_zip = #{record.dateZip,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heepay.billing.entity.ClearingMerchantRecordHis" >
    update clearing_merchant_record_his
    <set >
      <if test="clearingId != null" >
        clearing_id = #{clearingId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantType != null" >
        merchant_type = #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null" >
        trans_no = #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="transNoOld != null" >
        trans_no_old = #{transNoOld,jdbcType=VARCHAR},
      </if>
      <if test="requestAmount != null" >
        request_amount = #{requestAmount,jdbcType=DECIMAL},
      </if>
      <if test="successTime != null" >
        success_time = #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleTime != null" >
        settle_time = #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleNo != null" >
        settle_no = #{settleNo,jdbcType=VARCHAR},
      </if>
      <if test="settleTimePlan != null" >
        settle_time_plan = #{settleTimePlan,jdbcType=TIMESTAMP},
      </if>
      <if test="settleAmountPlan != null" >
        settle_amount_plan = #{settleAmountPlan,jdbcType=DECIMAL},
      </if>
      <if test="settleCyc != null" >
        settle_cyc = #{settleCyc,jdbcType=VARCHAR},
      </if>
      <if test="settleBath != null" >
        settle_bath = #{settleBath,jdbcType=VARCHAR},
      </if>
      <if test="feeTime != null" >
        fee_time = #{feeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="feeWay != null" >
        fee_way = #{feeWay,jdbcType=VARCHAR},
      </if>
      <if test="feeSettleCyc != null" >
        fee_settle_cyc = #{feeSettleCyc,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkFlg != null" >
        check_flg = #{checkFlg,jdbcType=VARCHAR},
      </if>
      <if test="settleStatus != null" >
        settle_status = #{settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkBath != null" >
        check_bath = #{checkBath,jdbcType=VARCHAR},
      </if>
      <if test="checkNum != null" >
        check_num = #{checkNum,jdbcType=INTEGER},
      </if>
      <if test="transType != null" >
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="isProfit != null" >
        is_profit = #{isProfit,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="busiTime != null" >
        busi_time = #{busiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isZip != null" >
        is_zip = #{isZip,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        agent_name = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentCode != null" >
        agent_code = #{agentCode,jdbcType=BIGINT},
      </if>
      <if test="bankcardType != null" >
        bankcard_type = #{bankcardType,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountNo != null" >
        account_No = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="dateZip != null" >
        date_zip = #{dateZip,jdbcType=TIMESTAMP},
      </if>
    </set>
    where his_id = #{hisId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heepay.billing.entity.ClearingMerchantRecordHis" >
    update clearing_merchant_record_his
    set clearing_id = #{clearingId,jdbcType=BIGINT},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      merchant_type = #{merchantType,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      trans_no = #{transNo,jdbcType=VARCHAR},
      trans_no_old = #{transNoOld,jdbcType=VARCHAR},
      request_amount = #{requestAmount,jdbcType=DECIMAL},
      success_time = #{successTime,jdbcType=TIMESTAMP},
      settle_time = #{settleTime,jdbcType=TIMESTAMP},
      settle_no = #{settleNo,jdbcType=VARCHAR},
      settle_time_plan = #{settleTimePlan,jdbcType=TIMESTAMP},
      settle_amount_plan = #{settleAmountPlan,jdbcType=DECIMAL},
      settle_cyc = #{settleCyc,jdbcType=VARCHAR},
      settle_bath = #{settleBath,jdbcType=VARCHAR},
      fee_time = #{feeTime,jdbcType=TIMESTAMP},
      fee = #{fee,jdbcType=DECIMAL},
      fee_way = #{feeWay,jdbcType=VARCHAR},
      fee_settle_cyc = #{feeSettleCyc,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=VARCHAR},
      check_flg = #{checkFlg,jdbcType=VARCHAR},
      settle_status = #{settleStatus,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      check_bath = #{checkBath,jdbcType=VARCHAR},
      check_num = #{checkNum,jdbcType=INTEGER},
      trans_type = #{transType,jdbcType=VARCHAR},
      is_profit = #{isProfit,jdbcType=VARCHAR},
      merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      busi_time = #{busiTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_zip = #{isZip,jdbcType=VARCHAR},
      agent_name = #{agentName,jdbcType=VARCHAR},
      agent_code = #{agentCode,jdbcType=BIGINT},
      bankcard_type = #{bankcardType,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      account_No = #{accountNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_type = #{payType,jdbcType=VARCHAR},
      date_zip = #{dateZip,jdbcType=TIMESTAMP}
    where his_id = #{hisId,jdbcType=BIGINT}
  </update>
  
  <!-- 插入 map-->
  <insert id="insertMap" parameterType="map" >
    insert into clearing_merchant_record_his (his_id, clearing_id, merchant_id, 
      merchant_type, product_code, currency, 
      trans_no, trans_no_old, request_amount, 
      success_time, settle_time, settle_no, 
      settle_time_plan, settle_amount_plan, settle_cyc, 
      settle_bath, fee_time, fee, 
      fee_way, fee_settle_cyc, check_status, 
      check_flg, settle_status, finish_time, 
      check_bath, check_num, trans_type, 
      is_profit, merchant_order_no, busi_time, 
      remark, is_zip, agent_name, 
      agent_code, bankcard_type, product_name, 
      merchant_name, pay_time, account_No, 
      create_time, pay_type, date_zip
      )
    values (#{hisId,jdbcType=BIGINT}, #{clearingId,jdbcType=BIGINT}, #{merchantId,jdbcType=INTEGER}, 
      #{merchantType,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{transNo,jdbcType=VARCHAR}, #{transNoOld,jdbcType=VARCHAR}, #{requestAmount,jdbcType=DECIMAL}, 
      #{successTime,jdbcType=TIMESTAMP}, #{settleTime,jdbcType=TIMESTAMP}, #{settleNo,jdbcType=VARCHAR}, 
      #{settleTimePlan,jdbcType=TIMESTAMP}, #{settleAmountPlan,jdbcType=DECIMAL}, #{settleCyc,jdbcType=VARCHAR}, 
      #{settleBath,jdbcType=VARCHAR}, #{feeTime,jdbcType=TIMESTAMP}, #{fee,jdbcType=DECIMAL}, 
      #{feeWay,jdbcType=VARCHAR}, #{feeSettleCyc,jdbcType=VARCHAR}, #{checkStatus,jdbcType=VARCHAR}, 
      #{checkFlg,jdbcType=VARCHAR}, #{settleStatus,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}, 
      #{checkBath,jdbcType=VARCHAR}, #{checkNum,jdbcType=INTEGER}, #{transType,jdbcType=VARCHAR}, 
      #{isProfit,jdbcType=VARCHAR}, #{merchantOrderNo,jdbcType=VARCHAR}, #{busiTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{isZip,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR}, 
      #{agentCode,jdbcType=BIGINT}, #{bankcardType,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{merchantName,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, #{accountNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{payType,jdbcType=VARCHAR}, #{dateZip,jdbcType=TIMESTAMP}
      )
  </insert>
</mapper>