<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.billing.dao.SettleMerchantRecordHisMapper" >
  <resultMap id="BaseResultMap" type="com.heepay.billing.entity.SettleMerchantRecordHis" >
    <id column="his_id" property="hisId" jdbcType="BIGINT" />
    <result column="settle_id" property="settleId" jdbcType="BIGINT" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="merchant_type" property="merchantType" jdbcType="VARCHAR" />
    <result column="trans_type" property="transType" jdbcType="CHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="pay_num" property="payNum" jdbcType="INTEGER" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="settle_time" property="settleTime" jdbcType="TIMESTAMP" />
    <result column="settle_cyc" property="settleCyc" jdbcType="VARCHAR" />
    <result column="settle_bath" property="settleBath" jdbcType="VARCHAR" />
    <result column="settle_amount" property="settleAmount" jdbcType="DECIMAL" />
    <result column="fee_time" property="feeTime" jdbcType="TIMESTAMP" />
    <result column="total_fee" property="totalFee" jdbcType="DECIMAL" />
    <result column="fee_way" property="feeWay" jdbcType="VARCHAR" />
    <result column="fee_settle_cyc" property="feeSettleCyc" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="CHAR" />
    <result column="settle_status" property="settleStatus" jdbcType="CHAR" />
    <result column="date_zip" property="dateZip" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    his_id, settle_id, merchant_id, merchant_type, trans_type, currency, pay_num, total_amount, 
    check_time, settle_time, settle_cyc, settle_bath, settle_amount, fee_time, total_fee, 
    fee_way, fee_settle_cyc, check_status, settle_status, date_zip
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.heepay.billing.entity.SettleMerchantRecordHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from settle_merchant_record_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from settle_merchant_record_his
    where his_id = #{hisId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from settle_merchant_record_his
    where his_id = #{hisId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heepay.billing.entity.SettleMerchantRecordHisExample" >
    delete from settle_merchant_record_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heepay.billing.entity.SettleMerchantRecordHis" >
    insert into settle_merchant_record_his (his_id, settle_id, merchant_id, 
      merchant_type, trans_type, currency, 
      pay_num, total_amount, check_time, 
      settle_time, settle_cyc, settle_bath, 
      settle_amount, fee_time, total_fee, 
      fee_way, fee_settle_cyc, check_status, 
      settle_status, date_zip)
    values (#{hisId,jdbcType=BIGINT}, #{settleId,jdbcType=BIGINT}, #{merchantId,jdbcType=INTEGER}, 
      #{merchantType,jdbcType=VARCHAR}, #{transType,jdbcType=CHAR}, #{currency,jdbcType=VARCHAR}, 
      #{payNum,jdbcType=INTEGER}, #{totalAmount,jdbcType=DECIMAL}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{settleTime,jdbcType=TIMESTAMP}, #{settleCyc,jdbcType=VARCHAR}, #{settleBath,jdbcType=VARCHAR}, 
      #{settleAmount,jdbcType=DECIMAL}, #{feeTime,jdbcType=TIMESTAMP}, #{totalFee,jdbcType=DECIMAL}, 
      #{feeWay,jdbcType=VARCHAR}, #{feeSettleCyc,jdbcType=VARCHAR}, #{checkStatus,jdbcType=CHAR}, 
      #{settleStatus,jdbcType=CHAR}, #{dateZip,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.heepay.billing.entity.SettleMerchantRecordHis" >
    insert into settle_merchant_record_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hisId != null" >
        his_id,
      </if>
      <if test="settleId != null" >
        settle_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="merchantType != null" >
        merchant_type,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="payNum != null" >
        pay_num,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="settleTime != null" >
        settle_time,
      </if>
      <if test="settleCyc != null" >
        settle_cyc,
      </if>
      <if test="settleBath != null" >
        settle_bath,
      </if>
      <if test="settleAmount != null" >
        settle_amount,
      </if>
      <if test="feeTime != null" >
        fee_time,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="feeWay != null" >
        fee_way,
      </if>
      <if test="feeSettleCyc != null" >
        fee_settle_cyc,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="settleStatus != null" >
        settle_status,
      </if>
      <if test="dateZip != null" >
        date_zip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hisId != null" >
        #{hisId,jdbcType=BIGINT},
      </if>
      <if test="settleId != null" >
        #{settleId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantType != null" >
        #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=CHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="payNum != null" >
        #{payNum,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleTime != null" >
        #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleCyc != null" >
        #{settleCyc,jdbcType=VARCHAR},
      </if>
      <if test="settleBath != null" >
        #{settleBath,jdbcType=VARCHAR},
      </if>
      <if test="settleAmount != null" >
        #{settleAmount,jdbcType=DECIMAL},
      </if>
      <if test="feeTime != null" >
        #{feeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="feeWay != null" >
        #{feeWay,jdbcType=VARCHAR},
      </if>
      <if test="feeSettleCyc != null" >
        #{feeSettleCyc,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=CHAR},
      </if>
      <if test="settleStatus != null" >
        #{settleStatus,jdbcType=CHAR},
      </if>
      <if test="dateZip != null" >
        #{dateZip,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heepay.billing.entity.SettleMerchantRecordHisExample" resultType="java.lang.Integer" >
    select count(*) from settle_merchant_record_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update settle_merchant_record_his
    <set >
      <if test="record.hisId != null" >
        his_id = #{record.hisId,jdbcType=BIGINT},
      </if>
      <if test="record.settleId != null" >
        settle_id = #{record.settleId,jdbcType=BIGINT},
      </if>
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.merchantType != null" >
        merchant_type = #{record.merchantType,jdbcType=VARCHAR},
      </if>
      <if test="record.transType != null" >
        trans_type = #{record.transType,jdbcType=CHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.payNum != null" >
        pay_num = #{record.payNum,jdbcType=INTEGER},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settleTime != null" >
        settle_time = #{record.settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settleCyc != null" >
        settle_cyc = #{record.settleCyc,jdbcType=VARCHAR},
      </if>
      <if test="record.settleBath != null" >
        settle_bath = #{record.settleBath,jdbcType=VARCHAR},
      </if>
      <if test="record.settleAmount != null" >
        settle_amount = #{record.settleAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.feeTime != null" >
        fee_time = #{record.feeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalFee != null" >
        total_fee = #{record.totalFee,jdbcType=DECIMAL},
      </if>
      <if test="record.feeWay != null" >
        fee_way = #{record.feeWay,jdbcType=VARCHAR},
      </if>
      <if test="record.feeSettleCyc != null" >
        fee_settle_cyc = #{record.feeSettleCyc,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStatus != null" >
        check_status = #{record.checkStatus,jdbcType=CHAR},
      </if>
      <if test="record.settleStatus != null" >
        settle_status = #{record.settleStatus,jdbcType=CHAR},
      </if>
      <if test="record.dateZip != null" >
        date_zip = #{record.dateZip,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update settle_merchant_record_his
    set his_id = #{record.hisId,jdbcType=BIGINT},
      settle_id = #{record.settleId,jdbcType=BIGINT},
      merchant_id = #{record.merchantId,jdbcType=INTEGER},
      merchant_type = #{record.merchantType,jdbcType=VARCHAR},
      trans_type = #{record.transType,jdbcType=CHAR},
      currency = #{record.currency,jdbcType=VARCHAR},
      pay_num = #{record.payNum,jdbcType=INTEGER},
      total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      settle_time = #{record.settleTime,jdbcType=TIMESTAMP},
      settle_cyc = #{record.settleCyc,jdbcType=VARCHAR},
      settle_bath = #{record.settleBath,jdbcType=VARCHAR},
      settle_amount = #{record.settleAmount,jdbcType=DECIMAL},
      fee_time = #{record.feeTime,jdbcType=TIMESTAMP},
      total_fee = #{record.totalFee,jdbcType=DECIMAL},
      fee_way = #{record.feeWay,jdbcType=VARCHAR},
      fee_settle_cyc = #{record.feeSettleCyc,jdbcType=VARCHAR},
      check_status = #{record.checkStatus,jdbcType=CHAR},
      settle_status = #{record.settleStatus,jdbcType=CHAR},
      date_zip = #{record.dateZip,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heepay.billing.entity.SettleMerchantRecordHis" >
    update settle_merchant_record_his
    <set >
      <if test="settleId != null" >
        settle_id = #{settleId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantType != null" >
        merchant_type = #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        trans_type = #{transType,jdbcType=CHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="payNum != null" >
        pay_num = #{payNum,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleTime != null" >
        settle_time = #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleCyc != null" >
        settle_cyc = #{settleCyc,jdbcType=VARCHAR},
      </if>
      <if test="settleBath != null" >
        settle_bath = #{settleBath,jdbcType=VARCHAR},
      </if>
      <if test="settleAmount != null" >
        settle_amount = #{settleAmount,jdbcType=DECIMAL},
      </if>
      <if test="feeTime != null" >
        fee_time = #{feeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="feeWay != null" >
        fee_way = #{feeWay,jdbcType=VARCHAR},
      </if>
      <if test="feeSettleCyc != null" >
        fee_settle_cyc = #{feeSettleCyc,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=CHAR},
      </if>
      <if test="settleStatus != null" >
        settle_status = #{settleStatus,jdbcType=CHAR},
      </if>
      <if test="dateZip != null" >
        date_zip = #{dateZip,jdbcType=TIMESTAMP},
      </if>
    </set>
    where his_id = #{hisId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heepay.billing.entity.SettleMerchantRecordHis" >
    update settle_merchant_record_his
    set settle_id = #{settleId,jdbcType=BIGINT},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      merchant_type = #{merchantType,jdbcType=VARCHAR},
      trans_type = #{transType,jdbcType=CHAR},
      currency = #{currency,jdbcType=VARCHAR},
      pay_num = #{payNum,jdbcType=INTEGER},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      settle_time = #{settleTime,jdbcType=TIMESTAMP},
      settle_cyc = #{settleCyc,jdbcType=VARCHAR},
      settle_bath = #{settleBath,jdbcType=VARCHAR},
      settle_amount = #{settleAmount,jdbcType=DECIMAL},
      fee_time = #{feeTime,jdbcType=TIMESTAMP},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      fee_way = #{feeWay,jdbcType=VARCHAR},
      fee_settle_cyc = #{feeSettleCyc,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=CHAR},
      settle_status = #{settleStatus,jdbcType=CHAR},
      date_zip = #{dateZip,jdbcType=TIMESTAMP}
    where his_id = #{hisId,jdbcType=BIGINT}
  </update>
  
  <!-- 插入 map-->
  <insert id="insertMap" parameterType="map" >
    insert into settle_merchant_record_his (his_id, settle_id, merchant_id, 
      merchant_type, trans_type, currency, 
      pay_num, total_amount, check_time, 
      settle_time, settle_cyc, settle_bath, 
      settle_amount, fee_time, total_fee, 
      fee_way, fee_settle_cyc, check_status, 
      settle_status, date_zip)
    values (#{hisId,jdbcType=BIGINT}, #{settleId,jdbcType=BIGINT}, #{merchantId,jdbcType=INTEGER}, 
      #{merchantType,jdbcType=VARCHAR}, #{transType,jdbcType=CHAR}, #{currency,jdbcType=VARCHAR}, 
      #{payNum,jdbcType=INTEGER}, #{totalAmount,jdbcType=DECIMAL}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{settleTime,jdbcType=TIMESTAMP}, #{settleCyc,jdbcType=VARCHAR}, #{settleBath,jdbcType=VARCHAR}, 
      #{settleAmount,jdbcType=DECIMAL}, #{feeTime,jdbcType=TIMESTAMP}, #{totalFee,jdbcType=DECIMAL}, 
      #{feeWay,jdbcType=VARCHAR}, #{feeSettleCyc,jdbcType=VARCHAR}, #{checkStatus,jdbcType=CHAR}, 
      #{settleStatus,jdbcType=CHAR}, #{dateZip,jdbcType=TIMESTAMP})
  </insert>
</mapper>