<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
    
 
    
    <bean id="riskClient"  name="riskClient" class="com.heepay.rpc.client.ThriftClientProxy">
      <property name="address" value="${risk.thrift.ens.ip}"></property>
		 <property name="open" value="${risk.zookeeper.ens.open}"></property> 	
	     <property name="nodename" value="${risk.thrift.ens.nodename}"></property>
	     <property name="zkserverip" value="${risk.zookeeper.ens.ip}"></property>
    </bean>
    <bean id="managerClient" class="com.heepay.rpc.client.ThriftClientProxy">
        <property name="address" value="${managerServerapi.thrift.ens.ip}"></property>
        <property name="open" value="${managerServerapi.zookeeper.ens.open}"></property>
        <property name="nodename" value="${managerServerapi.thrift.ens.nodename}"></property>
        <property name="zkserverip" value="${managerServerapi.zookeeper.ens.ip}"></property>
    </bean>
    <bean id="paymentClient" class="com.heepay.rpc.client.ThriftClientProxy">
        <property  name="address" value="${payment.client.ip}"></property>
        <property  name="open" value="${payment.client.zookeeper.open}"></property>
        <property name="nodename" value="${payment.client.zookeeper.nodename}"></property>
        <property  name="zkserverip" value="${payment.client.zookeeper.host}"></property>
    </bean>
      <bean id="riskQuotaClient" class="com.heepay.risk.client.RiskQuotaClient"></bean>
    <bean id="transactionClient" class="com.heepay.risk.client.TransactionClient"></bean>
      <bean id="registerAndLoginClient" class="com.heepay.risk.client.RegisterAndLoginClient"></bean>
    <bean id="checkProvinceClient" class="com.heepay.risk.client.CheckProvinceClient"></bean>
    <bean id="bankCardAuthClient" class="com.heepay.risk.client.BankCardAuthClient"></bean>
    <bean id="riskChannelClient" class="com.heepay.risk.client.RiskChannelClient"></bean>
</beans>  