<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.manage.modules.pbc.dao.PbcPaymentAccountDao" >
  
  <sql id="includeEntity">
	  payment_account_id, 
	  feature_code, 
	  account_number, 
      subject_type, 
      account_owner_name, 
      account_owner_id_type, 
      account_owner_id, 
      credential_validity, 
      tel_number, 
      login_id, 
      account_name, 
      wechat_id, 
      qq, 
      regular_ip_address, 
      regular_device_number, 
      online_shop_name, 
      merchant_number, 
      pos_identity, 
      pos_address, 
      pos_commonly_used_address, 
      bank_id, 
      bank_name, 
      bank_account, 
      card_type, 
      card_validation, 
      card_expiry_date, 
      card_info, 
      freeze_serial, 
      payment_account_number, 
      measure_type, 
      measure_start_time, 
      measure_end_time, 
      measure_dept_name, 
      currency, 
      measure_balance, 
      remark, 
      application_code
	</sql>
	
	<select id="findList" resultType="PbcPaymentAccount">
		SELECT 
			<include refid="includeEntity"/>
		FROM pbc_payment_account
		<where>
			
			<!-- 创建时间 -->
			<if test="beginOperEndTime != null and endOperEndTime != null">
				AND measure_start_time BETWEEN date_format(#{beginOperEndTime},'%Y-%m-%d %H:%i:%s') AND date_format(#{endOperEndTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<!-- 更新时间 -->
			<if test="beginOperEndTime != null and endOperEndTime != null">
				AND measure_end_time BETWEEN date_format(#{beginOperEndTime},'%Y-%m-%d %H:%i:%s') AND date_format(#{endOperEndTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<!--paymentAccountId -->
			<if test="paymentAccountId != null and paymentAccountId != ''">
				AND payment_account_id = #{paymentAccountId} 
			</if> 
			<!--featureCode -->
			<if test="featureCode != null and featureCode != ''">
				AND feature_code = #{featureCode} 
			</if> 
			<!--accountOwnerId -->
			<if test="accountOwnerId != null and accountOwnerId != ''">
				AND account_owner_id = #{accountOwnerId} 
			</if> 
			<!-- telNumber-->
			<if test="telNumber != null and telNumber != ''">
				AND tel_number = #{telNumber} 
			</if> 
			<!-- loginId -->
			<if test="loginId != null and loginId != ''">
				AND login_id = #{loginId} 
			</if> 
			<!-- wechatId -->
			<if test="wechatId != null and wechatId != ''">
				AND wechat_id = #{wechatId} 
			</if> 
			<!-- qq  -->
			<if test="qq  != null and qq != ''"> 
				AND qq = #{qq} 
			</if> 
			<!-- regularDeviceNumber  -->
			<if test="regularDeviceNumber  != null and regularDeviceNumber != ''"> 
				AND regular_device_number = #{regularDeviceNumber} 
			</if> 
			<!-- merchantNumber  -->
			<if test="merchantNumber  != null and merchantNumber != ''"> 
				AND merchant_number = #{merchantNumber} 
			</if> 
			<!-- posIdentity  -->
			<if test="posIdentity  != null and posIdentity != ''"> 
				AND pos_identity = #{posIdentity} 
			</if> 
			<!-- bankId  -->
			<if test="bankId  != null and bankId != ''"> 
				AND bank_id = #{bankId} 
			</if> 
			<!-- bankAccount  -->
			<if test="bankAccount  != null and bankAccount != ''"> 
				AND bank_account = #{bankAccount} 
			</if> 
			<!-- paymentAccountNumber  -->
			<if test="paymentAccountNumber  != null and paymentAccountNumber != ''"> 
				AND payment_account_number = #{paymentAccountNumber} 
			</if> 
			<!-- applicationCode  -->
			<if test="applicationCode  != null and applicationCode != ''"> 
				AND application_code = #{applicationCode} 
			</if> 
			</where> 
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY payment_account_id DESC,${page.orderBy}
			</when>
			<otherwise>
				ORDER BY payment_account_id DESC
			</otherwise>
		</choose>
	</select>
	
  <insert id="save" parameterType="PbcPaymentAccount" >
    insert into pbc_payment_account (payment_account_id, feature_code, account_number, 
      subject_type, account_owner_name, account_owner_id_type, 
      account_owner_id, credential_validity, tel_number, 
      login_id, account_name, wechat_id, 
      qq, regular_ip_address, regular_device_number, 
      online_shop_name, merchant_number, pos_identity, 
      pos_address, pos_commonly_used_address, bank_id, 
      bank_name, bank_account, card_type, 
      card_validation, card_expiry_date, card_info, 
      freeze_serial, payment_account_number, measure_type, 
      measure_start_time, measure_end_time, measure_dept_name, 
      currency, measure_balance, remark, 
      application_code)
    values (#{paymentAccountId,jdbcType=BIGINT}, #{featureCode,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR}, 
      #{subjectType,jdbcType=VARCHAR}, #{accountOwnerName,jdbcType=VARCHAR}, #{accountOwnerIdType,jdbcType=VARCHAR}, 
      #{accountOwnerId,jdbcType=VARCHAR}, #{credentialValidity,jdbcType=VARCHAR}, #{telNumber,jdbcType=VARCHAR}, 
      #{loginId,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{wechatId,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{regularIpAddress,jdbcType=VARCHAR}, #{regularDeviceNumber,jdbcType=VARCHAR}, 
      #{onlineShopName,jdbcType=VARCHAR}, #{merchantNumber,jdbcType=VARCHAR}, #{posIdentity,jdbcType=VARCHAR}, 
      #{posAddress,jdbcType=VARCHAR}, #{posCommonlyUsedAddress,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{cardValidation,jdbcType=VARCHAR}, #{cardExpiryDate,jdbcType=VARCHAR}, #{cardInfo,jdbcType=VARCHAR}, 
      #{freezeSerial,jdbcType=VARCHAR}, #{paymentAccountNumber,jdbcType=VARCHAR}, #{measureType,jdbcType=VARCHAR}, 
      #{measureStartTime,jdbcType=TIMESTAMP}, #{measureEndTime,jdbcType=TIMESTAMP}, #{measureDeptName,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{measureBalance,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{applicationCode,jdbcType=VARCHAR})
  </insert>
  
  <insert id="saveEntity" parameterType="PbcPaymentAccount" useGeneratedKeys="true" keyProperty="paymentAccountId">
     insert into pbc_payment_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paymentAccountId != null" >
        payment_account_id,
      </if>
      <if test="featureCode != null" >
        feature_code,
      </if>
      <if test="accountNumber != null" >
        account_number,
      </if>
      <if test="subjectType != null" >
        subject_type,
      </if>
      <if test="accountOwnerName != null" >
        account_owner_name,
      </if>
      <if test="accountOwnerIdType != null" >
        account_owner_id_type,
      </if>
      <if test="accountOwnerId != null" >
        account_owner_id,
      </if>
      <if test="credentialValidity != null" >
        credential_validity,
      </if>
      <if test="telNumber != null" >
        tel_number,
      </if>
      <if test="loginId != null" >
        login_id,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="regularIpAddress != null" >
        regular_ip_address,
      </if>
      <if test="regularDeviceNumber != null" >
        regular_device_number,
      </if>
      <if test="onlineShopName != null" >
        online_shop_name,
      </if>
      <if test="merchantNumber != null" >
        merchant_number,
      </if>
      <if test="posIdentity != null" >
        pos_identity,
      </if>
      <if test="posAddress != null" >
        pos_address,
      </if>
      <if test="posCommonlyUsedAddress != null" >
        pos_commonly_used_address,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="cardValidation != null" >
        card_validation,
      </if>
      <if test="cardExpiryDate != null" >
        card_expiry_date,
      </if>
      <if test="cardInfo != null" >
        card_info,
      </if>
      <if test="freezeSerial != null" >
        freeze_serial,
      </if>
      <if test="paymentAccountNumber != null" >
        payment_account_number,
      </if>
      <if test="measureType != null" >
        measure_type,
      </if>
      <if test="measureStartTime != null" >
        measure_start_time,
      </if>
      <if test="measureEndTime != null" >
        measure_end_time,
      </if>
      <if test="measureDeptName != null" >
        measure_dept_name,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="measureBalance != null" >
        measure_balance,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="applicationCode != null" >
        application_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paymentAccountId != null" >
        #{paymentAccountId,jdbcType=BIGINT},
      </if>
      <if test="featureCode != null" >
        #{featureCode,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="accountOwnerName != null" >
        #{accountOwnerName,jdbcType=VARCHAR},
      </if>
      <if test="accountOwnerIdType != null" >
        #{accountOwnerIdType,jdbcType=VARCHAR},
      </if>
      <if test="accountOwnerId != null" >
        #{accountOwnerId,jdbcType=VARCHAR},
      </if>
      <if test="credentialValidity != null" >
        #{credentialValidity,jdbcType=VARCHAR},
      </if>
      <if test="telNumber != null" >
        #{telNumber,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="regularIpAddress != null" >
        #{regularIpAddress,jdbcType=VARCHAR},
      </if>
      <if test="regularDeviceNumber != null" >
        #{regularDeviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="onlineShopName != null" >
        #{onlineShopName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNumber != null" >
        #{merchantNumber,jdbcType=VARCHAR},
      </if>
      <if test="posIdentity != null" >
        #{posIdentity,jdbcType=VARCHAR},
      </if>
      <if test="posAddress != null" >
        #{posAddress,jdbcType=VARCHAR},
      </if>
      <if test="posCommonlyUsedAddress != null" >
        #{posCommonlyUsedAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardValidation != null" >
        #{cardValidation,jdbcType=VARCHAR},
      </if>
      <if test="cardExpiryDate != null" >
        #{cardExpiryDate,jdbcType=VARCHAR},
      </if>
      <if test="cardInfo != null" >
        #{cardInfo,jdbcType=VARCHAR},
      </if>
      <if test="freezeSerial != null" >
        #{freezeSerial,jdbcType=VARCHAR},
      </if>
      <if test="paymentAccountNumber != null" >
        #{paymentAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="measureType != null" >
        #{measureType,jdbcType=VARCHAR},
      </if>
      <if test="measureStartTime != null" >
        #{measureStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="measureEndTime != null" >
        #{measureEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="measureDeptName != null" >
        #{measureDeptName,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="measureBalance != null" >
        #{measureBalance,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicationCode != null" >
        #{applicationCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateEntity" parameterType="PbcPaymentAccount" >
    update pbc_payment_account
    <set >
      <if test="featureCode != null" >
        feature_code = #{featureCode,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        account_number = #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        subject_type = #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="accountOwnerName != null" >
        account_owner_name = #{accountOwnerName,jdbcType=VARCHAR},
      </if>
      <if test="accountOwnerIdType != null" >
        account_owner_id_type = #{accountOwnerIdType,jdbcType=VARCHAR},
      </if>
      <if test="accountOwnerId != null" >
        account_owner_id = #{accountOwnerId,jdbcType=VARCHAR},
      </if>
      <if test="credentialValidity != null" >
        credential_validity = #{credentialValidity,jdbcType=VARCHAR},
      </if>
      <if test="telNumber != null" >
        tel_number = #{telNumber,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        login_id = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="regularIpAddress != null" >
        regular_ip_address = #{regularIpAddress,jdbcType=VARCHAR},
      </if>
      <if test="regularDeviceNumber != null" >
        regular_device_number = #{regularDeviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="onlineShopName != null" >
        online_shop_name = #{onlineShopName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNumber != null" >
        merchant_number = #{merchantNumber,jdbcType=VARCHAR},
      </if>
      <if test="posIdentity != null" >
        pos_identity = #{posIdentity,jdbcType=VARCHAR},
      </if>
      <if test="posAddress != null" >
        pos_address = #{posAddress,jdbcType=VARCHAR},
      </if>
      <if test="posCommonlyUsedAddress != null" >
        pos_commonly_used_address = #{posCommonlyUsedAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardValidation != null" >
        card_validation = #{cardValidation,jdbcType=VARCHAR},
      </if>
      <if test="cardExpiryDate != null" >
        card_expiry_date = #{cardExpiryDate,jdbcType=VARCHAR},
      </if>
      <if test="cardInfo != null" >
        card_info = #{cardInfo,jdbcType=VARCHAR},
      </if>
      <if test="freezeSerial != null" >
        freeze_serial = #{freezeSerial,jdbcType=VARCHAR},
      </if>
      <if test="paymentAccountNumber != null" >
        payment_account_number = #{paymentAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="measureType != null" >
        measure_type = #{measureType,jdbcType=VARCHAR},
      </if>
      <if test="measureStartTime != null" >
        measure_start_time = #{measureStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="measureEndTime != null" >
        measure_end_time = #{measureEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="measureDeptName != null" >
        measure_dept_name = #{measureDeptName,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="measureBalance != null" >
        measure_balance = #{measureBalance,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicationCode != null" >
        application_code = #{applicationCode,jdbcType=VARCHAR},
      </if>
    </set>
    where payment_account_id = #{paymentAccountId,jdbcType=BIGINT}
  </update>
  
  <update id="update" parameterType="PbcPaymentAccount" >
    update pbc_payment_account
	    set feature_code = #{featureCode,jdbcType=VARCHAR},
	      account_number = #{accountNumber,jdbcType=VARCHAR},
	      subject_type = #{subjectType,jdbcType=VARCHAR},
	      account_owner_name = #{accountOwnerName,jdbcType=VARCHAR},
	      account_owner_id_type = #{accountOwnerIdType,jdbcType=VARCHAR},
	      account_owner_id = #{accountOwnerId,jdbcType=VARCHAR},
	      credential_validity = #{credentialValidity,jdbcType=VARCHAR},
	      tel_number = #{telNumber,jdbcType=VARCHAR},
	      login_id = #{loginId,jdbcType=VARCHAR},
	      account_name = #{accountName,jdbcType=VARCHAR},
	      wechat_id = #{wechatId,jdbcType=VARCHAR},
	      qq = #{qq,jdbcType=VARCHAR},
	      regular_ip_address = #{regularIpAddress,jdbcType=VARCHAR},
	      regular_device_number = #{regularDeviceNumber,jdbcType=VARCHAR},
	      online_shop_name = #{onlineShopName,jdbcType=VARCHAR},
	      merchant_number = #{merchantNumber,jdbcType=VARCHAR},
	      pos_identity = #{posIdentity,jdbcType=VARCHAR},
	      pos_address = #{posAddress,jdbcType=VARCHAR},
	      pos_commonly_used_address = #{posCommonlyUsedAddress,jdbcType=VARCHAR},
	      bank_id = #{bankId,jdbcType=VARCHAR},
	      bank_name = #{bankName,jdbcType=VARCHAR},
	      bank_account = #{bankAccount,jdbcType=VARCHAR},
	      card_type = #{cardType,jdbcType=VARCHAR},
	      card_validation = #{cardValidation,jdbcType=VARCHAR},
	      card_expiry_date = #{cardExpiryDate,jdbcType=VARCHAR},
	      card_info = #{cardInfo,jdbcType=VARCHAR},
	      freeze_serial = #{freezeSerial,jdbcType=VARCHAR},
	      payment_account_number = #{paymentAccountNumber,jdbcType=VARCHAR},
	      measure_type = #{measureType,jdbcType=VARCHAR},
	      measure_start_time = #{measureStartTime,jdbcType=TIMESTAMP},
	      measure_end_time = #{measureEndTime,jdbcType=TIMESTAMP},
	      measure_dept_name = #{measureDeptName,jdbcType=VARCHAR},
	      currency = #{currency,jdbcType=VARCHAR},
	      measure_balance = #{measureBalance,jdbcType=DECIMAL},
	      remark = #{remark,jdbcType=VARCHAR},
	      application_code = #{applicationCode,jdbcType=VARCHAR}
	    where payment_account_id = #{paymentAccountId,jdbcType=BIGINT}
  </update>
  
  
  <select id="getEntityById" resultType="PbcPaymentAccount">
  	SELECT 
			<include refid="includeEntity"/>
		FROM pbc_payment_account a
	WHERE payment_account_id = #{paymentAccountId}
  </select>
  
  <select id="getFeeBackId" resultType="PbcPaymentAccount">
  	SELECT 
			<include refid="includeEntity"/>
		FROM pbc_payment_account a
	WHERE application_code = #{applicationCode}
  </select>
  
  <insert id="insertValue" parameterType="List">
  	 insert into pbc_payment_account (payment_account_id, feature_code, payment_account_number, 
      subject_type, account_owner_name, account_owner_id_type, 
      account_owner_id, credential_validity, tel_number, 
      login_id, account_name, wechat_id, 
      qq, regular_ip, regular_device_number, 
      online_shop_name, merchant_number, pos_id, 
      pos_address, pos_commonly_used_address, bank_id, 
      bank_name, bank_number, card_type, 
      card_validation_status, card_expiry_date, card_info, 
      freeze_serial, account_number, measure_type, 
      measure_start_time, measure_end_time, measure_dept_name, 
      currency, measure_balance, remark, 
      application_code)
     VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
	  	(#{item.paymentAccountId}, #{item.featureCode}, #{item.paymentAccountNumber}, 
	      #{item.subjectType}, #{item.accountOwnerName}, #{item.accountOwnerIdType}, 
	      #{item.accountOwnerId}, #{item.credentialValidity}, #{item.telNumber}, 
	      #{item.loginId}, #{item.accountName}, #{item.wechatId}, 
	      #{item.qq}, #{item.regularIp}, #{item.regularDeviceNumber}, 
	      #{item.onlineShopName}, #{item.merchantNumber}, #{item.posId}, 
	      #{item.posAddress}, #{item.posCommonlyUsedAddress}, #{item.bankId}, 
	      #{item.bankName}, #{item.bankNumber}, #{item.cardType}, 
	      #{item.cardValidationStatus}, #{item.cardExpiryDate}, #{item.cardInfo}, 
	      #{item.freezeSerial}, #{item.accountNumber}, #{item.measureType}, 
	      #{item.measureStartTime}, #{item.measureEndTime}, #{item.measureDeptName}, 
	      #{item.currency}, #{item.measureBalance}, #{item.remark}, 
	      #{item.applicationCode})
		</foreach>
  </insert>
  
  <select id="getListByfeatureCode" resultType="PbcPaymentAccount">
  		SELECT 
			<include refid="includeEntity"/>
		FROM pbc_payment_account a
		WHERE application_code=#{applicationCode}
  </select>
  
  <insert id="saveEntityToMap" parameterType="Map">
  	insert into pbc_payment_account (payment_account_id, feature_code, account_number, 
      subject_type, account_owner_name, account_owner_id_type, 
      account_owner_id, credential_validity, tel_number, 
      login_id, account_name, wechat_id, 
      qq, regular_ip_address, regular_device_number, 
      online_shop_name, merchant_number, pos_identity, 
      pos_address, pos_commonly_used_address, bank_id, 
      bank_name, bank_account, card_type, 
      card_validation, card_expiry_date, card_info, 
      freeze_serial, payment_account_number, measure_type, 
      measure_start_time, measure_end_time, measure_dept_name, 
      currency, measure_balance, remark, 
      application_code)
    values (#{paymentAccountId,jdbcType=BIGINT}, #{featureCode,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR}, 
      #{subjectType,jdbcType=VARCHAR}, #{accountOwnerName,jdbcType=VARCHAR}, #{accountOwnerIdType,jdbcType=VARCHAR}, 
      #{accountOwnerId,jdbcType=VARCHAR}, #{credentialValidity,jdbcType=VARCHAR}, #{telNumber,jdbcType=VARCHAR}, 
      #{loginId,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{wechatId,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{regularIpAddress,jdbcType=VARCHAR}, #{regularDeviceNumber,jdbcType=VARCHAR}, 
      #{onlineShopName,jdbcType=VARCHAR}, #{merchantNumber,jdbcType=VARCHAR}, #{posIdentity,jdbcType=VARCHAR}, 
      #{posAddress,jdbcType=VARCHAR}, #{posCommonlyUsedAddress,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{cardValidation,jdbcType=VARCHAR}, #{cardExpiryDate,jdbcType=VARCHAR}, #{cardInfo,jdbcType=VARCHAR}, 
      #{freezeSerial,jdbcType=VARCHAR}, #{paymentAccountNumber,jdbcType=VARCHAR}, #{measureType,jdbcType=VARCHAR}, 
      #{measureStartTime,jdbcType=TIMESTAMP}, #{measureEndTime,jdbcType=TIMESTAMP}, #{measureDeptName,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{measureBalance,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{applicationCode,jdbcType=VARCHAR})
  </insert>
  
  <delete id="deleteData">
  		DELETE FROM pbc_payment_account WHERE application_code=#{applicationCode};
  </delete>
</mapper>