<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.manage.modules.pbc.dao.PbcQueryInfoDao" >
 
 
 	<sql id="includeEntity">
	  query_info_id, tx_code, message_from, 
      trans_serial_number, application_id, case_number, 
      case_type, online_pay_company_id, online_pay_company_name, 
      reason, remark, application_time, 
      application_org_id, application_org_name, operator_id_type, 
      operator_id_number, operator_name, operator_phone_number, 
      investigator_id_type, investigator_id_number, 
      investigator_name, original_application_id, 
      status, deal_time, data_type, 
      data
	</sql>
	
	<select id="findList" resultType="PbcQueryInfo">
		SELECT 
			<include refid="includeEntity"/>
		FROM pbc_query_info a
		<where>
			
			<!-- application_time -->
			<if test="beginOperEndTime != null and endOperEndTime != null">
				AND application_time BETWEEN date_format(#{beginOperEndTime},'%Y-%m-%d %H:%i:%s') AND date_format(#{endOperEndTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<!-- deal_time -->
			<if test="beginOperEndTime != null and endOperEndTime != null">
				AND deal_time BETWEEN date_format(#{beginOperEndTime},'%Y-%m-%d %H:%i:%s') AND date_format(#{endOperEndTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<!--transSerialNumber -->
			<if test="transSerialNumber != null and transSerialNumber != ''">
				AND trans_serial_number = #{transSerialNumber} 
			</if> 
			<!-- applicationId-->
			<if test="applicationId != null and applicationId != ''">
				AND application_id = #{applicationId} 
			</if> 
			<!-- caseNumber -->
			<if test="caseNumber != null and caseNumber != ''">
				AND case_number = #{caseNumber} 
			</if> 
			<!-- onlinePayCompanyId -->
			<if test="onlinePayCompanyId != null and onlinePayCompanyId != ''">
				AND online_pay_company_id = #{onlinePayCompanyId} 
			</if> 
			<!-- applicationOrgId  -->
			<if test="applicationOrgId  != null and applicationOrgId != ''"> 
				AND application_org_id = #{applicationOrgId} 
			</if> 
			<!-- operatorIdNumber  -->
			<if test="operatorIdNumber  != null and operatorIdNumber != ''"> 
				AND operator_id_number = #{operatorIdNumber} 
			</if> 
			<!-- operatorPhoneNumber  -->
			<if test="operatorPhoneNumber  != null and operatorPhoneNumber != ''"> 
				AND operator_phone_number = #{operatorPhoneNumber} 
			</if> 
			<!-- investigatorIdNumber  -->
			<if test="investigatorIdNumber  != null and investigatorIdNumber != ''"> 
				AND investigator_id_number = #{investigatorIdNumber} 
			</if> 
			<!-- investigatorIdNumber  -->
			<if test="investigatorIdNumber  != null and investigatorIdNumber != ''"> 
				AND original_application_id = #{investigatorIdNumber} 
			</if> 
			</where> 
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY query_info_id DESC,${page.orderBy}
			</when>
			<otherwise>
				ORDER BY query_info_id DESC
			</otherwise>
		</choose>
	</select>
	
  <insert id="save" parameterType="PbcQueryInfo" >
    insert into pbc_query_info (query_info_id, tx_code, message_from, 
      trans_serial_number, application_id, case_number, 
      case_type, online_pay_company_id, online_pay_company_name, 
      reason, remark, application_time, 
      application_org_id, application_org_name, operator_id_type, 
      operator_id_number, operator_name, operator_phone_number, 
      investigator_id_type, investigator_id_number, 
      investigator_name, original_application_id, 
      status, deal_time, data_type, 
      data)
    values (#{queryInfoId,jdbcType=BIGINT}, #{txCode,jdbcType=VARCHAR}, #{messageFrom,jdbcType=VARCHAR}, 
      #{transSerialNumber,jdbcType=VARCHAR}, #{applicationId,jdbcType=VARCHAR}, #{caseNumber,jdbcType=VARCHAR}, 
      #{caseType,jdbcType=VARCHAR}, #{onlinePayCompanyId,jdbcType=VARCHAR}, #{onlinePayCompanyName,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{applicationTime,jdbcType=TIMESTAMP}, 
      #{applicationOrgId,jdbcType=VARCHAR}, #{applicationOrgName,jdbcType=VARCHAR}, #{operatorIdType,jdbcType=VARCHAR}, 
      #{operatorIdNumber,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{operatorPhoneNumber,jdbcType=VARCHAR}, 
      #{investigatorIdType,jdbcType=VARCHAR}, #{investigatorIdNumber,jdbcType=VARCHAR}, 
      #{investigatorName,jdbcType=VARCHAR}, #{originalApplicationId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{dealTime,jdbcType=TIMESTAMP}, #{dataType,jdbcType=VARCHAR}, 
      #{data,jdbcType=VARCHAR})
  </insert>
  <insert id="saveEntity" parameterType="PbcQueryInfo" useGeneratedKeys="true" keyProperty="queryInfoId">
    insert into pbc_query_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="queryInfoId != null" >
        query_info_id,
      </if>
      <if test="txCode != null" >
        tx_code,
      </if>
      <if test="messageFrom != null" >
        message_from,
      </if>
      <if test="transSerialNumber != null" >
        trans_serial_number,
      </if>
      <if test="applicationId != null" >
        application_id,
      </if>
      <if test="caseNumber != null" >
        case_number,
      </if>
      <if test="caseType != null" >
        case_type,
      </if>
      <if test="onlinePayCompanyId != null" >
        online_pay_company_id,
      </if>
      <if test="onlinePayCompanyName != null" >
        online_pay_company_name,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="applicationTime != null" >
        application_time,
      </if>
      <if test="applicationOrgId != null" >
        application_org_id,
      </if>
      <if test="applicationOrgName != null" >
        application_org_name,
      </if>
      <if test="operatorIdType != null" >
        operator_id_type,
      </if>
      <if test="operatorIdNumber != null" >
        operator_id_number,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="operatorPhoneNumber != null" >
        operator_phone_number,
      </if>
      <if test="investigatorIdType != null" >
        investigator_id_type,
      </if>
      <if test="investigatorIdNumber != null" >
        investigator_id_number,
      </if>
      <if test="investigatorName != null" >
        investigator_name,
      </if>
      <if test="originalApplicationId != null" >
        original_application_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="dealTime != null" >
        deal_time,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="data != null" >
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="queryInfoId != null" >
        #{queryInfoId,jdbcType=BIGINT},
      </if>
      <if test="txCode != null" >
        #{txCode,jdbcType=VARCHAR},
      </if>
      <if test="messageFrom != null" >
        #{messageFrom,jdbcType=VARCHAR},
      </if>
      <if test="transSerialNumber != null" >
        #{transSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="onlinePayCompanyId != null" >
        #{onlinePayCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="onlinePayCompanyName != null" >
        #{onlinePayCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationOrgId != null" >
        #{applicationOrgId,jdbcType=VARCHAR},
      </if>
      <if test="applicationOrgName != null" >
        #{applicationOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdType != null" >
        #{operatorIdType,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdNumber != null" >
        #{operatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorPhoneNumber != null" >
        #{operatorPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="investigatorIdType != null" >
        #{investigatorIdType,jdbcType=VARCHAR},
      </if>
      <if test="investigatorIdNumber != null" >
        #{investigatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="investigatorName != null" >
        #{investigatorName,jdbcType=VARCHAR},
      </if>
      <if test="originalApplicationId != null" >
        #{originalApplicationId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateEntity" parameterType="PbcQueryInfo" >
     update pbc_query_info
    <set >
      <if test="txCode != null" >
        tx_code = #{txCode,jdbcType=VARCHAR},
      </if>
      <if test="messageFrom != null" >
        message_from = #{messageFrom,jdbcType=VARCHAR},
      </if>
      <if test="transSerialNumber != null" >
        trans_serial_number = #{transSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="applicationId != null" >
        application_id = #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        case_number = #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        case_type = #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="onlinePayCompanyId != null" >
        online_pay_company_id = #{onlinePayCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="onlinePayCompanyName != null" >
        online_pay_company_name = #{onlinePayCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        application_time = #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationOrgId != null" >
        application_org_id = #{applicationOrgId,jdbcType=VARCHAR},
      </if>
      <if test="applicationOrgName != null" >
        application_org_name = #{applicationOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdType != null" >
        operator_id_type = #{operatorIdType,jdbcType=VARCHAR},
      </if>
      <if test="operatorIdNumber != null" >
        operator_id_number = #{operatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorPhoneNumber != null" >
        operator_phone_number = #{operatorPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="investigatorIdType != null" >
        investigator_id_type = #{investigatorIdType,jdbcType=VARCHAR},
      </if>
      <if test="investigatorIdNumber != null" >
        investigator_id_number = #{investigatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="investigatorName != null" >
        investigator_name = #{investigatorName,jdbcType=VARCHAR},
      </if>
      <if test="originalApplicationId != null" >
        original_application_id = #{originalApplicationId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=VARCHAR},
      </if>
    </set>
    where query_info_id = #{queryInfoId,jdbcType=BIGINT}
  </update>
  
  
  <update id="update" parameterType="PbcQueryInfo" >
    update pbc_query_info
    set tx_code = #{txCode,jdbcType=VARCHAR},
      message_from = #{messageFrom,jdbcType=VARCHAR},
      trans_serial_number = #{transSerialNumber,jdbcType=VARCHAR},
      application_id = #{applicationId,jdbcType=VARCHAR},
      case_number = #{caseNumber,jdbcType=VARCHAR},
      case_type = #{caseType,jdbcType=VARCHAR},
      online_pay_company_id = #{onlinePayCompanyId,jdbcType=VARCHAR},
      online_pay_company_name = #{onlinePayCompanyName,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      application_time = #{applicationTime,jdbcType=TIMESTAMP},
      application_org_id = #{applicationOrgId,jdbcType=VARCHAR},
      application_org_name = #{applicationOrgName,jdbcType=VARCHAR},
      operator_id_type = #{operatorIdType,jdbcType=VARCHAR},
      operator_id_number = #{operatorIdNumber,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operator_phone_number = #{operatorPhoneNumber,jdbcType=VARCHAR},
      investigator_id_type = #{investigatorIdType,jdbcType=VARCHAR},
      investigator_id_number = #{investigatorIdNumber,jdbcType=VARCHAR},
      investigator_name = #{investigatorName,jdbcType=VARCHAR},
      original_application_id = #{originalApplicationId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=TIMESTAMP},
      data_type = #{dataType,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR}
    where query_info_id = #{queryInfoId,jdbcType=BIGINT}
  </update>
  <select id="getEntityById" resultType="PbcQueryInfo">
  	SELECT 
			<include refid="includeEntity"/>
		FROM pbc_query_info a
	WHERE query_info_id = #{queryInfoId}
  </select>
  
  <select id="getEntityByApplicationId" resultType="PbcQueryInfo">
  	SELECT 
			<include refid="includeEntity"/>
		FROM pbc_query_info a
	WHERE application_id = #{applicationId}
  </select>
</mapper>