<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.manage.modules.pbc.dao.PbcTransInfoDao" >
  
    <sql id="includeEntity">
	  a.pbc_id, 
      a.order_id, 
      a.transaction_type, 
      a.payment_type, 
      a.borrowing_signs, 
      a.transaction_time, 
      a.currency, 
      a.transaction_amount, 
      a.transaction_serial, 
      a.account_balance, 
      a.trans_in_bank_id, 
      a.trans_in_bank_name, 
      a.trans_in_card_number, 
      a.trans_in_account_number, 
      a.pos_identity, 
      a.merchant_number, 
      a.trans_out_bank_id, 
      a.trans_out_bank_name, 
      a.trans_out_card_number, 
      a.trans_out_account_number, 
      a.transaction_device_type, 
      a.transaction_ip, 
      a.transaction_mac, 
      a.transaction_device_code, 
      a.bank_transaction_serial, 
      a.remark, 
      a.application_code,
      a.transaction_longitude,
      a.transaction_latitude
	</sql>
	
	<select id="findList" resultType="PbcTransInfo">
		SELECT 
			<include refid="includeEntity"/>
		FROM pbc_trans_info a
		<where>
			<!-- applicationCode  -->
			<if test="applicationCode  != null and applicationCode != ''"> 
				AND a.application_code = #{applicationCode} 
			</if> 
			</where> 
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY pbc_id DESC,${page.orderBy}
			</when>
			<otherwise>
				ORDER BY pbc_id DESC
			</otherwise>
		</choose>
	</select>
  
  <insert id="save" parameterType="PbcTransInfo" >
   insert into pbc_trans_info (pbc_id, order_id, transaction_type, 
      payment_type, borrowing_signs, transaction_time, 
      currency, transaction_amount, transaction_serial, 
      account_balance, trans_in_bank_id, trans_in_bank_name, 
      trans_in_card_number, trans_in_account_number, 
      pos_identity, merchant_number, trans_out_bank_id, 
      trans_out_bank_name, trans_out_card_number, trans_out_account_number, 
      transaction_device_type, transaction_ip, transaction_mac, 
      transaction_device_code, bank_transaction_serial, 
      remark, application_code,transaction_longitude,transaction_latitude)
    values (#{pbcId,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{transactionType,jdbcType=VARCHAR}, 
      #{paymentType,jdbcType=VARCHAR}, #{borrowingSigns,jdbcType=VARCHAR}, #{transactionTime,jdbcType=TIMESTAMP}, 
      #{currency,jdbcType=VARCHAR}, #{transactionAmount,jdbcType=DECIMAL}, #{transactionSerial,jdbcType=VARCHAR}, 
      #{accountBalance,jdbcType=DECIMAL}, #{transInBankId,jdbcType=VARCHAR}, #{transInBankName,jdbcType=VARCHAR}, 
      #{transInCardNumber,jdbcType=VARCHAR}, #{transInAccountNumber,jdbcType=VARCHAR}, 
      #{posIdentity,jdbcType=VARCHAR}, #{merchantNumber,jdbcType=VARCHAR}, #{transOutBankId,jdbcType=VARCHAR}, 
      #{transOutBankName,jdbcType=VARCHAR}, #{transOutCardNumber,jdbcType=VARCHAR}, #{transOutAccountNumber,jdbcType=VARCHAR}, 
      #{transactionDeviceType,jdbcType=VARCHAR}, #{transactionIp,jdbcType=VARCHAR}, #{transactionMac,jdbcType=VARCHAR}, 
      #{transactionDeviceCode,jdbcType=VARCHAR}, #{bankTransactionSerial,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{applicationCode,jdbcType=VARCHAR},#{transactionLongitude,jdbcType=DECIMAL},#{transactionLatitude,jdbcType=DECIMAL})
  </insert>
  
  <delete id="delete" parameterType="PbcTransInfo" >
	  delete from pbc_trans_info
	  where 1=1
	  <choose>
	  	<when test="pbcId != null and pbcId != ''">
	  		AND pbc_id = #{pbcId,jdbcType=BIGINT}
	  	</when>
	  	<otherwise>
	  		AND application_code = #{applicationCode,jdbcType=VARCHAR}
	  	</otherwise>
	  </choose>
  </delete>
  
  <insert id="saveEntity" parameterType="PbcTransInfo" useGeneratedKeys="true" keyProperty="pbcId">
     insert into pbc_trans_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pbcId != null" >
        pbc_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="transactionType != null" >
        transaction_type,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="borrowingSigns != null" >
        borrowing_signs,
      </if>
      <if test="transactionTime != null" >
        transaction_time,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="transactionAmount != null" >
        transaction_amount,
      </if>
      <if test="transactionSerial != null" >
        transaction_serial,
      </if>
      <if test="accountBalance != null" >
        account_balance,
      </if>
      <if test="transInBankId != null" >
        trans_in_bank_id,
      </if>
      <if test="transInBankName != null" >
        trans_in_bank_name,
      </if>
      <if test="transInCardNumber != null" >
        trans_in_card_number,
      </if>
      <if test="transInAccountNumber != null" >
        trans_in_account_number,
      </if>
      <if test="posIdentity != null" >
        pos_identity,
      </if>
      <if test="merchantNumber != null" >
        merchant_number,
      </if>
      <if test="transOutBankId != null" >
        trans_out_bank_id,
      </if>
      <if test="transOutBankName != null" >
        trans_out_bank_name,
      </if>
      <if test="transOutCardNumber != null" >
        trans_out_card_number,
      </if>
      <if test="transOutAccountNumber != null" >
        trans_out_account_number,
      </if>
      <if test="transactionDeviceType != null" >
        transaction_device_type,
      </if>
      <if test="transactionIp != null" >
        transaction_ip,
      </if>
      <if test="transactionMac != null" >
        transaction_mac,
      </if>
      <if test="transactionDeviceCode != null" >
        transaction_device_code,
      </if>
      <if test="bankTransactionSerial != null" >
        bank_transaction_serial,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="applicationCode != null" >
        application_code,
      </if>
      <if test="transactionLongitude != null" >
        transaction_longitude,
      </if>
      <if test="transactionLatitude != null" >
        transaction_latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pbcId != null" >
        #{pbcId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="transactionType != null" >
        #{transactionType,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="borrowingSigns != null" >
        #{borrowingSigns,jdbcType=VARCHAR},
      </if>
      <if test="transactionTime != null" >
        #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="transactionAmount != null" >
        #{transactionAmount,jdbcType=DECIMAL},
      </if>
      <if test="transactionSerial != null" >
        #{transactionSerial,jdbcType=VARCHAR},
      </if>
      <if test="accountBalance != null" >
        #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="transInBankId != null" >
        #{transInBankId,jdbcType=VARCHAR},
      </if>
      <if test="transInBankName != null" >
        #{transInBankName,jdbcType=VARCHAR},
      </if>
      <if test="transInCardNumber != null" >
        #{transInCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="transInAccountNumber != null" >
        #{transInAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="posIdentity != null" >
        #{posIdentity,jdbcType=VARCHAR},
      </if>
      <if test="merchantNumber != null" >
        #{merchantNumber,jdbcType=VARCHAR},
      </if>
      <if test="transOutBankId != null" >
        #{transOutBankId,jdbcType=VARCHAR},
      </if>
      <if test="transOutBankName != null" >
        #{transOutBankName,jdbcType=VARCHAR},
      </if>
      <if test="transOutCardNumber != null" >
        #{transOutCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="transOutAccountNumber != null" >
        #{transOutAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="transactionDeviceType != null" >
        #{transactionDeviceType,jdbcType=VARCHAR},
      </if>
      <if test="transactionIp != null" >
        #{transactionIp,jdbcType=VARCHAR},
      </if>
      <if test="transactionMac != null" >
        #{transactionMac,jdbcType=VARCHAR},
      </if>
      <if test="transactionDeviceCode != null" >
        #{transactionDeviceCode,jdbcType=VARCHAR},
      </if>
      <if test="bankTransactionSerial != null" >
        #{bankTransactionSerial,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicationCode != null" >
        #{applicationCode,jdbcType=VARCHAR},
      </if>
      <if test="transactionLongitude != null" >
        #{transactionLongitude,jdbcType=DECIMAL},
      </if>
      <if test="transactionLatitude != null" >
        #{transactionLatitude,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateEntity" parameterType="PbcTransInfo" >
     update pbc_trans_info
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="transactionType != null" >
        transaction_type = #{transactionType,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="borrowingSigns != null" >
        borrowing_signs = #{borrowingSigns,jdbcType=VARCHAR},
      </if>
      <if test="transactionTime != null" >
        transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="transactionAmount != null" >
        transaction_amount = #{transactionAmount,jdbcType=DECIMAL},
      </if>
      <if test="transactionSerial != null" >
        transaction_serial = #{transactionSerial,jdbcType=VARCHAR},
      </if>
      <if test="accountBalance != null" >
        account_balance = #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="transInBankId != null" >
        trans_in_bank_id = #{transInBankId,jdbcType=VARCHAR},
      </if>
      <if test="transInBankName != null" >
        trans_in_bank_name = #{transInBankName,jdbcType=VARCHAR},
      </if>
      <if test="transInCardNumber != null" >
        trans_in_card_number = #{transInCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="transInAccountNumber != null" >
        trans_in_account_number = #{transInAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="posIdentity != null" >
        pos_identity = #{posIdentity,jdbcType=VARCHAR},
      </if>
      <if test="merchantNumber != null" >
        merchant_number = #{merchantNumber,jdbcType=VARCHAR},
      </if>
      <if test="transOutBankId != null" >
        trans_out_bank_id = #{transOutBankId,jdbcType=VARCHAR},
      </if>
      <if test="transOutBankName != null" >
        trans_out_bank_name = #{transOutBankName,jdbcType=VARCHAR},
      </if>
      <if test="transOutCardNumber != null" >
        trans_out_card_number = #{transOutCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="transOutAccountNumber != null" >
        trans_out_account_number = #{transOutAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="transactionDeviceType != null" >
        transaction_device_type = #{transactionDeviceType,jdbcType=VARCHAR},
      </if>
      <if test="transactionIp != null" >
        transaction_ip = #{transactionIp,jdbcType=VARCHAR},
      </if>
      <if test="transactionMac != null" >
        transaction_mac = #{transactionMac,jdbcType=VARCHAR},
      </if>
      <if test="transactionDeviceCode != null" >
        transaction_device_code = #{transactionDeviceCode,jdbcType=VARCHAR},
      </if>
      <if test="bankTransactionSerial != null" >
        bank_transaction_serial = #{bankTransactionSerial,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicationCode != null" >
        application_code = #{applicationCode,jdbcType=VARCHAR},
      </if>
      <if test="transactionLongitude != null" >
        transaction_longitude = #{transactionLongitude,jdbcType=DECIMAL},
      </if>
      <if test="transactionLatitude != null" >
        transaction_latitude = #{transactionLatitude,jdbcType=DECIMAL},
      </if>
    </set>
    where pbc_id = #{pbcId,jdbcType=BIGINT}
  </update>
  
  <update id="update" parameterType="PbcTransInfo" >
    update pbc_trans_info
    set transaction_type = #{transactionType,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      borrowing_signs = #{borrowingSigns,jdbcType=VARCHAR},
      transaction_time = #{transactionTime,jdbcType=TIMESTAMP},
      currency = #{currency,jdbcType=VARCHAR},
      transaction_amount = #{transactionAmount,jdbcType=DECIMAL},
      transaction_serial = #{transactionSerial,jdbcType=VARCHAR},
      account_balance = #{accountBalance,jdbcType=DECIMAL},
      trans_in_bank_id = #{transInBankId,jdbcType=VARCHAR},
      trans_in_bank_name = #{transInBankName,jdbcType=VARCHAR},
      trans_in_card_number = #{transInCardNumber,jdbcType=VARCHAR},
      trans_in_account_number = #{transInAccountNumber,jdbcType=VARCHAR},
      pos_identity = #{posIdentity,jdbcType=VARCHAR},
      merchant_number = #{merchantNumber,jdbcType=VARCHAR},
      trans_out_bank_id = #{transOutBankId,jdbcType=VARCHAR},
      trans_out_bank_name = #{transOutBankName,jdbcType=VARCHAR},
      trans_out_card_number = #{transOutCardNumber,jdbcType=VARCHAR},
      trans_out_account_number = #{transOutAccountNumber,jdbcType=VARCHAR},
      transaction_device_type = #{transactionDeviceType,jdbcType=VARCHAR},
      transaction_ip = #{transactionIp,jdbcType=VARCHAR},
      transaction_mac = #{transactionMac,jdbcType=VARCHAR},
      transaction_device_code = #{transactionDeviceCode,jdbcType=VARCHAR},
      bank_transaction_serial = #{bankTransactionSerial,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      application_code = #{applicationCode,jdbcType=VARCHAR},
      transaction_longitude = #{transactionLongitude,jdbcType=DECIMAL},
      transaction_latitude = #{transactionLatitude,jdbcType=DECIMAL}
    where pbc_id = #{pbcId,jdbcType=BIGINT}
  </update>
  
  <select id="getEntityById" resultType="PbcTransInfo">
  	SELECT 
			<include refid="includeEntity"/>
		FROM pbc_trans_info a
	WHERE pbc_id = #{pbcId}
  </select>
  
  <select id="getFeeBackId" resultType="PbcTransInfo">
  	SELECT 
			<include refid="includeEntity"/>
		FROM pbc_trans_info a
	WHERE application_code = #{applicationCode}
  </select>
  
  <insert id="saveMap" parameterType="Map">
  	insert into pbc_trans_info (order_id, transaction_type, 
      payment_type, borrowing_signs, transaction_time, 
      currency, transaction_amount, transaction_serial, 
      account_balance, trans_in_bank_id, trans_in_bank_name, 
      trans_in_card_number, trans_in_account_number, 
      pos_identity, merchant_number, trans_out_bank_id, 
      trans_out_bank_name, trans_out_card_number, trans_out_account_number, 
      transaction_device_type, transaction_ip, transaction_mac, 
      transaction_device_code, bank_transaction_serial, 
      remark, application_code,transaction_longitude,transaction_latitude)
    values (#{orderId,jdbcType=VARCHAR}, #{transactionType,jdbcType=VARCHAR}, 
      #{paymentType,jdbcType=VARCHAR}, #{borrowingSigns,jdbcType=VARCHAR}, #{transactionTime,jdbcType=TIMESTAMP}, 
      #{currency,jdbcType=VARCHAR}, #{transactionAmount,jdbcType=DECIMAL}, #{transactionSerial,jdbcType=VARCHAR}, 
      #{accountBalance,jdbcType=DECIMAL}, #{transInBankId,jdbcType=VARCHAR}, #{transInBankName,jdbcType=VARCHAR}, 
      #{transInCardNumber,jdbcType=VARCHAR}, #{transInAccountNumber,jdbcType=VARCHAR}, 
      #{posIdentity,jdbcType=VARCHAR}, #{merchantNumber,jdbcType=VARCHAR}, #{transOutBankId,jdbcType=VARCHAR}, 
      #{transOutBankName,jdbcType=VARCHAR}, #{transOutCardNumber,jdbcType=VARCHAR}, #{transOutAccountNumber,jdbcType=VARCHAR}, 
      #{transactionDeviceType,jdbcType=VARCHAR}, #{transactionIp,jdbcType=VARCHAR}, #{transactionMac,jdbcType=VARCHAR}, 
      #{transactionDeviceCode,jdbcType=VARCHAR}, #{bankTransactionSerial,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{applicationCode,jdbcType=VARCHAR},#{transactionLongitude,jdbcType=DECIMAL},#{transactionLatitude,jdbcType=DECIMAL})
  </insert>
</mapper>