<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.tpds.dao.TpdsMerchantMapper" >
  <resultMap id="BaseResultMap" type="com.heepay.tpds.entity.TpdsMerchant" >
    <id column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="contry_name" property="contryName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="certificate_type" property="certificateType" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="CHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="county_code" property="countyCode" jdbcType="CHAR" />
    <result column="county_name" property="countyName" jdbcType="VARCHAR" />
    <result column="business_address" property="businessAddress" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="business_license_no" property="businessLicenseNo" jdbcType="VARCHAR" />
    <result column="business_license_end_time" property="businessLicenseEndTime" jdbcType="TIMESTAMP" />
    <result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
    <result column="tax_registration_certificate_no" property="taxRegistrationCertificateNo" jdbcType="VARCHAR" />
    <result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
    <result column="llegalperson" property="llegalperson" jdbcType="VARCHAR" />
    <result column="legal_idcard" property="legalIdcard" jdbcType="VARCHAR" />
    <result column="legal_certificate_end_time" property="legalCertificateEndTime" jdbcType="TIMESTAMP" />
    <result column="contactor" property="contactor" jdbcType="VARCHAR" />
    <result column="contactor_idcard_no" property="contactorIdcardNo" jdbcType="VARCHAR" />
    <result column="contactor_certificate_end_time" property="contactorCertificateEndTime" jdbcType="TIMESTAMP" />
    <result column="contactor_phone" property="contactorPhone" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="electricity_url" property="electricityUrl" jdbcType="VARCHAR" />
    <result column="individual_user" property="individualUser" jdbcType="VARCHAR" />
    <result column="contry_code" property="contryCode" jdbcType="VARCHAR" />
    <result column="merchant_pos_code" property="merchantPosCode" jdbcType="CHAR" />
    <result column="company_phone" property="companyPhone" jdbcType="VARCHAR" />
    <result column="legal_mobile" property="legalMobile" jdbcType="VARCHAR" />
    <result column="charge_type" property="chargeType" jdbcType="TINYINT" />
    <result column="ipc_no" property="ipcNo" jdbcType="VARCHAR" />
    <result column="permits_accounts" property="permitsAccounts" jdbcType="VARCHAR" />
    <result column="legal_certificate_front" property="legalCertificateFront" jdbcType="VARCHAR" />
    <result column="legal_certificate_back" property="legalCertificateBack" jdbcType="VARCHAR" />
    <result column="tax_registration_certificate" property="taxRegistrationCertificate" jdbcType="VARCHAR" />
    <result column="organization_code_certificate" property="organizationCodeCertificate" jdbcType="VARCHAR" />
    <result column="business_license_file" property="businessLicenseFile" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_author" property="createAuthor" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="trademark_regis_photo_address" property="trademarkRegisPhotoAddress" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.heepay.tpds.entity.TpdsMerchant" extends="BaseResultMap" >
    <result column="update_author" property="updateAuthor" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    merchant_id, merchant_no, login_name, email, contry_name, type, certificate_type, 
    company_name, province_code, province_name, city_code, city_name, county_code, county_name, 
    business_address, website, business_license_no, business_license_end_time, organization_code, 
    tax_registration_certificate_no, business_scope, llegalperson, legal_idcard, legal_certificate_end_time, 
    contactor, contactor_idcard_no, contactor_certificate_end_time, contactor_phone, 
    supplier_name, enterprise_name, electricity_url, individual_user, contry_code, merchant_pos_code, 
    company_phone, legal_mobile, charge_type, ipc_no, permits_accounts, legal_certificate_front, 
    legal_certificate_back, tax_registration_certificate, organization_code_certificate, 
    business_license_file, create_time, create_author, update_time, trademark_regis_photo_address
  </sql>
  <sql id="Blob_Column_List" >
    update_author
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.heepay.tpds.entity.TpdsMerchantExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tpds_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.heepay.tpds.entity.TpdsMerchantExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tpds_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tpds_merchant
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tpds_merchant
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.heepay.tpds.entity.TpdsMerchantExample" >
    delete from tpds_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heepay.tpds.entity.TpdsMerchant" >
    insert into tpds_merchant (merchant_id, merchant_no, login_name, 
      email, contry_name, type, 
      certificate_type, company_name, province_code, 
      province_name, city_code, city_name, 
      county_code, county_name, business_address, 
      website, business_license_no, business_license_end_time, 
      organization_code, tax_registration_certificate_no, 
      business_scope, llegalperson, legal_idcard, 
      legal_certificate_end_time, contactor, contactor_idcard_no, 
      contactor_certificate_end_time, contactor_phone, 
      supplier_name, enterprise_name, electricity_url, 
      individual_user, contry_code, merchant_pos_code, 
      company_phone, legal_mobile, charge_type, 
      ipc_no, permits_accounts, legal_certificate_front, 
      legal_certificate_back, tax_registration_certificate, 
      organization_code_certificate, business_license_file, 
      create_time, create_author, update_time, 
      trademark_regis_photo_address, update_author
      )
    values (#{merchantId,jdbcType=INTEGER}, #{merchantNo,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{contryName,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{certificateType,jdbcType=CHAR}, #{companyName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=CHAR}, 
      #{provinceName,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{countyCode,jdbcType=CHAR}, #{countyName,jdbcType=VARCHAR}, #{businessAddress,jdbcType=VARCHAR}, 
      #{website,jdbcType=VARCHAR}, #{businessLicenseNo,jdbcType=VARCHAR}, #{businessLicenseEndTime,jdbcType=TIMESTAMP}, 
      #{organizationCode,jdbcType=VARCHAR}, #{taxRegistrationCertificateNo,jdbcType=VARCHAR}, 
      #{businessScope,jdbcType=VARCHAR}, #{llegalperson,jdbcType=VARCHAR}, #{legalIdcard,jdbcType=VARCHAR}, 
      #{legalCertificateEndTime,jdbcType=TIMESTAMP}, #{contactor,jdbcType=VARCHAR}, #{contactorIdcardNo,jdbcType=VARCHAR}, 
      #{contactorCertificateEndTime,jdbcType=TIMESTAMP}, #{contactorPhone,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{enterpriseName,jdbcType=VARCHAR}, #{electricityUrl,jdbcType=VARCHAR}, 
      #{individualUser,jdbcType=VARCHAR}, #{contryCode,jdbcType=VARCHAR}, #{merchantPosCode,jdbcType=CHAR}, 
      #{companyPhone,jdbcType=VARCHAR}, #{legalMobile,jdbcType=VARCHAR}, #{chargeType,jdbcType=TINYINT}, 
      #{ipcNo,jdbcType=VARCHAR}, #{permitsAccounts,jdbcType=VARCHAR}, #{legalCertificateFront,jdbcType=VARCHAR}, 
      #{legalCertificateBack,jdbcType=VARCHAR}, #{taxRegistrationCertificate,jdbcType=VARCHAR}, 
      #{organizationCodeCertificate,jdbcType=VARCHAR}, #{businessLicenseFile,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createAuthor,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{trademarkRegisPhotoAddress,jdbcType=VARCHAR}, #{updateAuthor,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.heepay.tpds.entity.TpdsMerchant" >
    insert into tpds_merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="merchantNo != null" >
        merchant_no,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="contryName != null" >
        contry_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="certificateType != null" >
        certificate_type,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="countyCode != null" >
        county_code,
      </if>
      <if test="countyName != null" >
        county_name,
      </if>
      <if test="businessAddress != null" >
        business_address,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="businessLicenseNo != null" >
        business_license_no,
      </if>
      <if test="businessLicenseEndTime != null" >
        business_license_end_time,
      </if>
      <if test="organizationCode != null" >
        organization_code,
      </if>
      <if test="taxRegistrationCertificateNo != null" >
        tax_registration_certificate_no,
      </if>
      <if test="businessScope != null" >
        business_scope,
      </if>
      <if test="llegalperson != null" >
        llegalperson,
      </if>
      <if test="legalIdcard != null" >
        legal_idcard,
      </if>
      <if test="legalCertificateEndTime != null" >
        legal_certificate_end_time,
      </if>
      <if test="contactor != null" >
        contactor,
      </if>
      <if test="contactorIdcardNo != null" >
        contactor_idcard_no,
      </if>
      <if test="contactorCertificateEndTime != null" >
        contactor_certificate_end_time,
      </if>
      <if test="contactorPhone != null" >
        contactor_phone,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="enterpriseName != null" >
        enterprise_name,
      </if>
      <if test="electricityUrl != null" >
        electricity_url,
      </if>
      <if test="individualUser != null" >
        individual_user,
      </if>
      <if test="contryCode != null" >
        contry_code,
      </if>
      <if test="merchantPosCode != null" >
        merchant_pos_code,
      </if>
      <if test="companyPhone != null" >
        company_phone,
      </if>
      <if test="legalMobile != null" >
        legal_mobile,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="ipcNo != null" >
        ipc_no,
      </if>
      <if test="permitsAccounts != null" >
        permits_accounts,
      </if>
      <if test="legalCertificateFront != null" >
        legal_certificate_front,
      </if>
      <if test="legalCertificateBack != null" >
        legal_certificate_back,
      </if>
      <if test="taxRegistrationCertificate != null" >
        tax_registration_certificate,
      </if>
      <if test="organizationCodeCertificate != null" >
        organization_code_certificate,
      </if>
      <if test="businessLicenseFile != null" >
        business_license_file,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createAuthor != null" >
        create_author,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="trademarkRegisPhotoAddress != null" >
        trademark_regis_photo_address,
      </if>
      <if test="updateAuthor != null" >
        update_author,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="contryName != null" >
        #{contryName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="certificateType != null" >
        #{certificateType,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=CHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        #{countyCode,jdbcType=CHAR},
      </if>
      <if test="countyName != null" >
        #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null" >
        #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNo != null" >
        #{businessLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseEndTime != null" >
        #{businessLicenseEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationCode != null" >
        #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistrationCertificateNo != null" >
        #{taxRegistrationCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="llegalperson != null" >
        #{llegalperson,jdbcType=VARCHAR},
      </if>
      <if test="legalIdcard != null" >
        #{legalIdcard,jdbcType=VARCHAR},
      </if>
      <if test="legalCertificateEndTime != null" >
        #{legalCertificateEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactor != null" >
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="contactorIdcardNo != null" >
        #{contactorIdcardNo,jdbcType=VARCHAR},
      </if>
      <if test="contactorCertificateEndTime != null" >
        #{contactorCertificateEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactorPhone != null" >
        #{contactorPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null" >
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="electricityUrl != null" >
        #{electricityUrl,jdbcType=VARCHAR},
      </if>
      <if test="individualUser != null" >
        #{individualUser,jdbcType=VARCHAR},
      </if>
      <if test="contryCode != null" >
        #{contryCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantPosCode != null" >
        #{merchantPosCode,jdbcType=CHAR},
      </if>
      <if test="companyPhone != null" >
        #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalMobile != null" >
        #{legalMobile,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=TINYINT},
      </if>
      <if test="ipcNo != null" >
        #{ipcNo,jdbcType=VARCHAR},
      </if>
      <if test="permitsAccounts != null" >
        #{permitsAccounts,jdbcType=VARCHAR},
      </if>
      <if test="legalCertificateFront != null" >
        #{legalCertificateFront,jdbcType=VARCHAR},
      </if>
      <if test="legalCertificateBack != null" >
        #{legalCertificateBack,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistrationCertificate != null" >
        #{taxRegistrationCertificate,jdbcType=VARCHAR},
      </if>
      <if test="organizationCodeCertificate != null" >
        #{organizationCodeCertificate,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFile != null" >
        #{businessLicenseFile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAuthor != null" >
        #{createAuthor,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="trademarkRegisPhotoAddress != null" >
        #{trademarkRegisPhotoAddress,jdbcType=VARCHAR},
      </if>
      <if test="updateAuthor != null" >
        #{updateAuthor,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heepay.tpds.entity.TpdsMerchantExample" resultType="java.lang.Integer" >
    select count(*) from tpds_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tpds_merchant
    <set >
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.merchantNo != null" >
        merchant_no = #{record.merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null" >
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.contryName != null" >
        contry_name = #{record.contryName,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.certificateType != null" >
        certificate_type = #{record.certificateType,jdbcType=CHAR},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        province_code = #{record.provinceCode,jdbcType=CHAR},
      </if>
      <if test="record.provinceName != null" >
        province_name = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null" >
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.countyCode != null" >
        county_code = #{record.countyCode,jdbcType=CHAR},
      </if>
      <if test="record.countyName != null" >
        county_name = #{record.countyName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessAddress != null" >
        business_address = #{record.businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.website != null" >
        website = #{record.website,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseNo != null" >
        business_license_no = #{record.businessLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseEndTime != null" >
        business_license_end_time = #{record.businessLicenseEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.organizationCode != null" >
        organization_code = #{record.organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.taxRegistrationCertificateNo != null" >
        tax_registration_certificate_no = #{record.taxRegistrationCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="record.businessScope != null" >
        business_scope = #{record.businessScope,jdbcType=VARCHAR},
      </if>
      <if test="record.llegalperson != null" >
        llegalperson = #{record.llegalperson,jdbcType=VARCHAR},
      </if>
      <if test="record.legalIdcard != null" >
        legal_idcard = #{record.legalIdcard,jdbcType=VARCHAR},
      </if>
      <if test="record.legalCertificateEndTime != null" >
        legal_certificate_end_time = #{record.legalCertificateEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contactor != null" >
        contactor = #{record.contactor,jdbcType=VARCHAR},
      </if>
      <if test="record.contactorIdcardNo != null" >
        contactor_idcard_no = #{record.contactorIdcardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.contactorCertificateEndTime != null" >
        contactor_certificate_end_time = #{record.contactorCertificateEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contactorPhone != null" >
        contactor_phone = #{record.contactorPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierName != null" >
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseName != null" >
        enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="record.electricityUrl != null" >
        electricity_url = #{record.electricityUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.individualUser != null" >
        individual_user = #{record.individualUser,jdbcType=VARCHAR},
      </if>
      <if test="record.contryCode != null" >
        contry_code = #{record.contryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantPosCode != null" >
        merchant_pos_code = #{record.merchantPosCode,jdbcType=CHAR},
      </if>
      <if test="record.companyPhone != null" >
        company_phone = #{record.companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.legalMobile != null" >
        legal_mobile = #{record.legalMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeType != null" >
        charge_type = #{record.chargeType,jdbcType=TINYINT},
      </if>
      <if test="record.ipcNo != null" >
        ipc_no = #{record.ipcNo,jdbcType=VARCHAR},
      </if>
      <if test="record.permitsAccounts != null" >
        permits_accounts = #{record.permitsAccounts,jdbcType=VARCHAR},
      </if>
      <if test="record.legalCertificateFront != null" >
        legal_certificate_front = #{record.legalCertificateFront,jdbcType=VARCHAR},
      </if>
      <if test="record.legalCertificateBack != null" >
        legal_certificate_back = #{record.legalCertificateBack,jdbcType=VARCHAR},
      </if>
      <if test="record.taxRegistrationCertificate != null" >
        tax_registration_certificate = #{record.taxRegistrationCertificate,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationCodeCertificate != null" >
        organization_code_certificate = #{record.organizationCodeCertificate,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseFile != null" >
        business_license_file = #{record.businessLicenseFile,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createAuthor != null" >
        create_author = #{record.createAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.trademarkRegisPhotoAddress != null" >
        trademark_regis_photo_address = #{record.trademarkRegisPhotoAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.updateAuthor != null" >
        update_author = #{record.updateAuthor,jdbcType=VARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tpds_merchant
    set merchant_id = #{record.merchantId,jdbcType=INTEGER},
      merchant_no = #{record.merchantNo,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      contry_name = #{record.contryName,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=CHAR},
      certificate_type = #{record.certificateType,jdbcType=CHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=CHAR},
      province_name = #{record.provinceName,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      county_code = #{record.countyCode,jdbcType=CHAR},
      county_name = #{record.countyName,jdbcType=VARCHAR},
      business_address = #{record.businessAddress,jdbcType=VARCHAR},
      website = #{record.website,jdbcType=VARCHAR},
      business_license_no = #{record.businessLicenseNo,jdbcType=VARCHAR},
      business_license_end_time = #{record.businessLicenseEndTime,jdbcType=TIMESTAMP},
      organization_code = #{record.organizationCode,jdbcType=VARCHAR},
      tax_registration_certificate_no = #{record.taxRegistrationCertificateNo,jdbcType=VARCHAR},
      business_scope = #{record.businessScope,jdbcType=VARCHAR},
      llegalperson = #{record.llegalperson,jdbcType=VARCHAR},
      legal_idcard = #{record.legalIdcard,jdbcType=VARCHAR},
      legal_certificate_end_time = #{record.legalCertificateEndTime,jdbcType=TIMESTAMP},
      contactor = #{record.contactor,jdbcType=VARCHAR},
      contactor_idcard_no = #{record.contactorIdcardNo,jdbcType=VARCHAR},
      contactor_certificate_end_time = #{record.contactorCertificateEndTime,jdbcType=TIMESTAMP},
      contactor_phone = #{record.contactorPhone,jdbcType=VARCHAR},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
      electricity_url = #{record.electricityUrl,jdbcType=VARCHAR},
      individual_user = #{record.individualUser,jdbcType=VARCHAR},
      contry_code = #{record.contryCode,jdbcType=VARCHAR},
      merchant_pos_code = #{record.merchantPosCode,jdbcType=CHAR},
      company_phone = #{record.companyPhone,jdbcType=VARCHAR},
      legal_mobile = #{record.legalMobile,jdbcType=VARCHAR},
      charge_type = #{record.chargeType,jdbcType=TINYINT},
      ipc_no = #{record.ipcNo,jdbcType=VARCHAR},
      permits_accounts = #{record.permitsAccounts,jdbcType=VARCHAR},
      legal_certificate_front = #{record.legalCertificateFront,jdbcType=VARCHAR},
      legal_certificate_back = #{record.legalCertificateBack,jdbcType=VARCHAR},
      tax_registration_certificate = #{record.taxRegistrationCertificate,jdbcType=VARCHAR},
      organization_code_certificate = #{record.organizationCodeCertificate,jdbcType=VARCHAR},
      business_license_file = #{record.businessLicenseFile,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_author = #{record.createAuthor,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      trademark_regis_photo_address = #{record.trademarkRegisPhotoAddress,jdbcType=VARCHAR},
      update_author = #{record.updateAuthor,jdbcType=VARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tpds_merchant
    set merchant_id = #{record.merchantId,jdbcType=INTEGER},
      merchant_no = #{record.merchantNo,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      contry_name = #{record.contryName,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=CHAR},
      certificate_type = #{record.certificateType,jdbcType=CHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=CHAR},
      province_name = #{record.provinceName,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      county_code = #{record.countyCode,jdbcType=CHAR},
      county_name = #{record.countyName,jdbcType=VARCHAR},
      business_address = #{record.businessAddress,jdbcType=VARCHAR},
      website = #{record.website,jdbcType=VARCHAR},
      business_license_no = #{record.businessLicenseNo,jdbcType=VARCHAR},
      business_license_end_time = #{record.businessLicenseEndTime,jdbcType=TIMESTAMP},
      organization_code = #{record.organizationCode,jdbcType=VARCHAR},
      tax_registration_certificate_no = #{record.taxRegistrationCertificateNo,jdbcType=VARCHAR},
      business_scope = #{record.businessScope,jdbcType=VARCHAR},
      llegalperson = #{record.llegalperson,jdbcType=VARCHAR},
      legal_idcard = #{record.legalIdcard,jdbcType=VARCHAR},
      legal_certificate_end_time = #{record.legalCertificateEndTime,jdbcType=TIMESTAMP},
      contactor = #{record.contactor,jdbcType=VARCHAR},
      contactor_idcard_no = #{record.contactorIdcardNo,jdbcType=VARCHAR},
      contactor_certificate_end_time = #{record.contactorCertificateEndTime,jdbcType=TIMESTAMP},
      contactor_phone = #{record.contactorPhone,jdbcType=VARCHAR},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
      electricity_url = #{record.electricityUrl,jdbcType=VARCHAR},
      individual_user = #{record.individualUser,jdbcType=VARCHAR},
      contry_code = #{record.contryCode,jdbcType=VARCHAR},
      merchant_pos_code = #{record.merchantPosCode,jdbcType=CHAR},
      company_phone = #{record.companyPhone,jdbcType=VARCHAR},
      legal_mobile = #{record.legalMobile,jdbcType=VARCHAR},
      charge_type = #{record.chargeType,jdbcType=TINYINT},
      ipc_no = #{record.ipcNo,jdbcType=VARCHAR},
      permits_accounts = #{record.permitsAccounts,jdbcType=VARCHAR},
      legal_certificate_front = #{record.legalCertificateFront,jdbcType=VARCHAR},
      legal_certificate_back = #{record.legalCertificateBack,jdbcType=VARCHAR},
      tax_registration_certificate = #{record.taxRegistrationCertificate,jdbcType=VARCHAR},
      organization_code_certificate = #{record.organizationCodeCertificate,jdbcType=VARCHAR},
      business_license_file = #{record.businessLicenseFile,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_author = #{record.createAuthor,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      trademark_regis_photo_address = #{record.trademarkRegisPhotoAddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heepay.tpds.entity.TpdsMerchant" >
    update tpds_merchant
    <set >
      <if test="merchantNo != null" >
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="contryName != null" >
        contry_name = #{contryName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="certificateType != null" >
        certificate_type = #{certificateType,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=CHAR},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        county_code = #{countyCode,jdbcType=CHAR},
      </if>
      <if test="countyName != null" >
        county_name = #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null" >
        business_address = #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNo != null" >
        business_license_no = #{businessLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseEndTime != null" >
        business_license_end_time = #{businessLicenseEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationCode != null" >
        organization_code = #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistrationCertificateNo != null" >
        tax_registration_certificate_no = #{taxRegistrationCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="llegalperson != null" >
        llegalperson = #{llegalperson,jdbcType=VARCHAR},
      </if>
      <if test="legalIdcard != null" >
        legal_idcard = #{legalIdcard,jdbcType=VARCHAR},
      </if>
      <if test="legalCertificateEndTime != null" >
        legal_certificate_end_time = #{legalCertificateEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactor != null" >
        contactor = #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="contactorIdcardNo != null" >
        contactor_idcard_no = #{contactorIdcardNo,jdbcType=VARCHAR},
      </if>
      <if test="contactorCertificateEndTime != null" >
        contactor_certificate_end_time = #{contactorCertificateEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactorPhone != null" >
        contactor_phone = #{contactorPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null" >
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="electricityUrl != null" >
        electricity_url = #{electricityUrl,jdbcType=VARCHAR},
      </if>
      <if test="individualUser != null" >
        individual_user = #{individualUser,jdbcType=VARCHAR},
      </if>
      <if test="contryCode != null" >
        contry_code = #{contryCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantPosCode != null" >
        merchant_pos_code = #{merchantPosCode,jdbcType=CHAR},
      </if>
      <if test="companyPhone != null" >
        company_phone = #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalMobile != null" >
        legal_mobile = #{legalMobile,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        charge_type = #{chargeType,jdbcType=TINYINT},
      </if>
      <if test="ipcNo != null" >
        ipc_no = #{ipcNo,jdbcType=VARCHAR},
      </if>
      <if test="permitsAccounts != null" >
        permits_accounts = #{permitsAccounts,jdbcType=VARCHAR},
      </if>
      <if test="legalCertificateFront != null" >
        legal_certificate_front = #{legalCertificateFront,jdbcType=VARCHAR},
      </if>
      <if test="legalCertificateBack != null" >
        legal_certificate_back = #{legalCertificateBack,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistrationCertificate != null" >
        tax_registration_certificate = #{taxRegistrationCertificate,jdbcType=VARCHAR},
      </if>
      <if test="organizationCodeCertificate != null" >
        organization_code_certificate = #{organizationCodeCertificate,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFile != null" >
        business_license_file = #{businessLicenseFile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAuthor != null" >
        create_author = #{createAuthor,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="trademarkRegisPhotoAddress != null" >
        trademark_regis_photo_address = #{trademarkRegisPhotoAddress,jdbcType=VARCHAR},
      </if>
      <if test="updateAuthor != null" >
        update_author = #{updateAuthor,jdbcType=VARBINARY},
      </if>
    </set>
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.heepay.tpds.entity.TpdsMerchant" >
    update tpds_merchant
    set merchant_no = #{merchantNo,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      contry_name = #{contryName,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      certificate_type = #{certificateType,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=CHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      county_code = #{countyCode,jdbcType=CHAR},
      county_name = #{countyName,jdbcType=VARCHAR},
      business_address = #{businessAddress,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      business_license_no = #{businessLicenseNo,jdbcType=VARCHAR},
      business_license_end_time = #{businessLicenseEndTime,jdbcType=TIMESTAMP},
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      tax_registration_certificate_no = #{taxRegistrationCertificateNo,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      llegalperson = #{llegalperson,jdbcType=VARCHAR},
      legal_idcard = #{legalIdcard,jdbcType=VARCHAR},
      legal_certificate_end_time = #{legalCertificateEndTime,jdbcType=TIMESTAMP},
      contactor = #{contactor,jdbcType=VARCHAR},
      contactor_idcard_no = #{contactorIdcardNo,jdbcType=VARCHAR},
      contactor_certificate_end_time = #{contactorCertificateEndTime,jdbcType=TIMESTAMP},
      contactor_phone = #{contactorPhone,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      electricity_url = #{electricityUrl,jdbcType=VARCHAR},
      individual_user = #{individualUser,jdbcType=VARCHAR},
      contry_code = #{contryCode,jdbcType=VARCHAR},
      merchant_pos_code = #{merchantPosCode,jdbcType=CHAR},
      company_phone = #{companyPhone,jdbcType=VARCHAR},
      legal_mobile = #{legalMobile,jdbcType=VARCHAR},
      charge_type = #{chargeType,jdbcType=TINYINT},
      ipc_no = #{ipcNo,jdbcType=VARCHAR},
      permits_accounts = #{permitsAccounts,jdbcType=VARCHAR},
      legal_certificate_front = #{legalCertificateFront,jdbcType=VARCHAR},
      legal_certificate_back = #{legalCertificateBack,jdbcType=VARCHAR},
      tax_registration_certificate = #{taxRegistrationCertificate,jdbcType=VARCHAR},
      organization_code_certificate = #{organizationCodeCertificate,jdbcType=VARCHAR},
      business_license_file = #{businessLicenseFile,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_author = #{createAuthor,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      trademark_regis_photo_address = #{trademarkRegisPhotoAddress,jdbcType=VARCHAR},
      update_author = #{updateAuthor,jdbcType=VARBINARY}
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heepay.tpds.entity.TpdsMerchant" >
    update tpds_merchant
    set merchant_no = #{merchantNo,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      contry_name = #{contryName,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      certificate_type = #{certificateType,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=CHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      county_code = #{countyCode,jdbcType=CHAR},
      county_name = #{countyName,jdbcType=VARCHAR},
      business_address = #{businessAddress,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      business_license_no = #{businessLicenseNo,jdbcType=VARCHAR},
      business_license_end_time = #{businessLicenseEndTime,jdbcType=TIMESTAMP},
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      tax_registration_certificate_no = #{taxRegistrationCertificateNo,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      llegalperson = #{llegalperson,jdbcType=VARCHAR},
      legal_idcard = #{legalIdcard,jdbcType=VARCHAR},
      legal_certificate_end_time = #{legalCertificateEndTime,jdbcType=TIMESTAMP},
      contactor = #{contactor,jdbcType=VARCHAR},
      contactor_idcard_no = #{contactorIdcardNo,jdbcType=VARCHAR},
      contactor_certificate_end_time = #{contactorCertificateEndTime,jdbcType=TIMESTAMP},
      contactor_phone = #{contactorPhone,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      electricity_url = #{electricityUrl,jdbcType=VARCHAR},
      individual_user = #{individualUser,jdbcType=VARCHAR},
      contry_code = #{contryCode,jdbcType=VARCHAR},
      merchant_pos_code = #{merchantPosCode,jdbcType=CHAR},
      company_phone = #{companyPhone,jdbcType=VARCHAR},
      legal_mobile = #{legalMobile,jdbcType=VARCHAR},
      charge_type = #{chargeType,jdbcType=TINYINT},
      ipc_no = #{ipcNo,jdbcType=VARCHAR},
      permits_accounts = #{permitsAccounts,jdbcType=VARCHAR},
      legal_certificate_front = #{legalCertificateFront,jdbcType=VARCHAR},
      legal_certificate_back = #{legalCertificateBack,jdbcType=VARCHAR},
      tax_registration_certificate = #{taxRegistrationCertificate,jdbcType=VARCHAR},
      organization_code_certificate = #{organizationCodeCertificate,jdbcType=VARCHAR},
      business_license_file = #{businessLicenseFile,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_author = #{createAuthor,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      trademark_regis_photo_address = #{trademarkRegisPhotoAddress,jdbcType=VARCHAR}
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
</mapper>