<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.tpds.dao.TpdsSettleItemMapper" >
  <resultMap id="BaseResultMap" type="com.heepay.tpds.entity.TpdsSettleItem" >
    <id column="clearing_id" property="clearingId" jdbcType="BIGINT" />
    <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
    <result column="merchant_type" property="merchantType" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="trans_type" property="transType" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="merchant_order_no" property="merchantOrderNo" jdbcType="VARCHAR" />
    <result column="trans_no" property="transNo" jdbcType="VARCHAR" />
    <result column="request_amount" property="requestAmount" jdbcType="DECIMAL" />
    <result column="success_time" property="successTime" jdbcType="TIMESTAMP" />
    <result column="settle_time" property="settleTime" jdbcType="TIMESTAMP" />
    <result column="settle_no" property="settleNo" jdbcType="VARCHAR" />
    <result column="settle_bath" property="settleBath" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="settle_status" property="settleStatus" jdbcType="VARCHAR" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    clearing_id, merchant_no, merchant_type, product_code, trans_type, currency, merchant_order_no, 
    trans_no, request_amount, success_time, settle_time, settle_no, settle_bath, fee, 
    settle_status, finish_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.heepay.tpds.entity.TpdsSettleItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tpds_settle_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tpds_settle_item
    where clearing_id = #{clearingId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tpds_settle_item
    where clearing_id = #{clearingId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heepay.tpds.entity.TpdsSettleItemExample" >
    delete from tpds_settle_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heepay.tpds.entity.TpdsSettleItem" >
    insert into tpds_settle_item (clearing_id, merchant_no, merchant_type, 
      product_code, trans_type, currency, 
      merchant_order_no, trans_no, request_amount, 
      success_time, settle_time, settle_no, 
      settle_bath, fee, settle_status, 
      finish_time)
    values (#{clearingId,jdbcType=BIGINT}, #{merchantNo,jdbcType=VARCHAR}, #{merchantType,jdbcType=VARCHAR}, 
      #{productCode,jdbcType=VARCHAR}, #{transType,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{merchantOrderNo,jdbcType=VARCHAR}, #{transNo,jdbcType=VARCHAR}, #{requestAmount,jdbcType=DECIMAL}, 
      #{successTime,jdbcType=TIMESTAMP}, #{settleTime,jdbcType=TIMESTAMP}, #{settleNo,jdbcType=VARCHAR}, 
      #{settleBath,jdbcType=VARCHAR}, #{fee,jdbcType=DECIMAL}, #{settleStatus,jdbcType=VARCHAR}, 
      #{finishTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.heepay.tpds.entity.TpdsSettleItem" >
    insert into tpds_settle_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clearingId != null" >
        clearing_id,
      </if>
      <if test="merchantNo != null" >
        merchant_no,
      </if>
      <if test="merchantType != null" >
        merchant_type,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no,
      </if>
      <if test="transNo != null" >
        trans_no,
      </if>
      <if test="requestAmount != null" >
        request_amount,
      </if>
      <if test="successTime != null" >
        success_time,
      </if>
      <if test="settleTime != null" >
        settle_time,
      </if>
      <if test="settleNo != null" >
        settle_no,
      </if>
      <if test="settleBath != null" >
        settle_bath,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="settleStatus != null" >
        settle_status,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clearingId != null" >
        #{clearingId,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantType != null" >
        #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null" >
        #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="requestAmount != null" >
        #{requestAmount,jdbcType=DECIMAL},
      </if>
      <if test="successTime != null" >
        #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleTime != null" >
        #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleNo != null" >
        #{settleNo,jdbcType=VARCHAR},
      </if>
      <if test="settleBath != null" >
        #{settleBath,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="settleStatus != null" >
        #{settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heepay.tpds.entity.TpdsSettleItemExample" resultType="java.lang.Integer" >
    select count(*) from tpds_settle_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tpds_settle_item
    <set >
      <if test="record.clearingId != null" >
        clearing_id = #{record.clearingId,jdbcType=BIGINT},
      </if>
      <if test="record.merchantNo != null" >
        merchant_no = #{record.merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantType != null" >
        merchant_type = #{record.merchantType,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null" >
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.transType != null" >
        trans_type = #{record.transType,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantOrderNo != null" >
        merchant_order_no = #{record.merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.transNo != null" >
        trans_no = #{record.transNo,jdbcType=VARCHAR},
      </if>
      <if test="record.requestAmount != null" >
        request_amount = #{record.requestAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.successTime != null" >
        success_time = #{record.successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settleTime != null" >
        settle_time = #{record.settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settleNo != null" >
        settle_no = #{record.settleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.settleBath != null" >
        settle_bath = #{record.settleBath,jdbcType=VARCHAR},
      </if>
      <if test="record.fee != null" >
        fee = #{record.fee,jdbcType=DECIMAL},
      </if>
      <if test="record.settleStatus != null" >
        settle_status = #{record.settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.finishTime != null" >
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tpds_settle_item
    set clearing_id = #{record.clearingId,jdbcType=BIGINT},
      merchant_no = #{record.merchantNo,jdbcType=VARCHAR},
      merchant_type = #{record.merchantType,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      trans_type = #{record.transType,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=VARCHAR},
      merchant_order_no = #{record.merchantOrderNo,jdbcType=VARCHAR},
      trans_no = #{record.transNo,jdbcType=VARCHAR},
      request_amount = #{record.requestAmount,jdbcType=DECIMAL},
      success_time = #{record.successTime,jdbcType=TIMESTAMP},
      settle_time = #{record.settleTime,jdbcType=TIMESTAMP},
      settle_no = #{record.settleNo,jdbcType=VARCHAR},
      settle_bath = #{record.settleBath,jdbcType=VARCHAR},
      fee = #{record.fee,jdbcType=DECIMAL},
      settle_status = #{record.settleStatus,jdbcType=VARCHAR},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heepay.tpds.entity.TpdsSettleItem" >
    update tpds_settle_item
    <set >
      <if test="merchantNo != null" >
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantType != null" >
        merchant_type = #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null" >
        trans_no = #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="requestAmount != null" >
        request_amount = #{requestAmount,jdbcType=DECIMAL},
      </if>
      <if test="successTime != null" >
        success_time = #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleTime != null" >
        settle_time = #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleNo != null" >
        settle_no = #{settleNo,jdbcType=VARCHAR},
      </if>
      <if test="settleBath != null" >
        settle_bath = #{settleBath,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="settleStatus != null" >
        settle_status = #{settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where clearing_id = #{clearingId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heepay.tpds.entity.TpdsSettleItem" >
    update tpds_settle_item
    set merchant_no = #{merchantNo,jdbcType=VARCHAR},
      merchant_type = #{merchantType,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      trans_type = #{transType,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      trans_no = #{transNo,jdbcType=VARCHAR},
      request_amount = #{requestAmount,jdbcType=DECIMAL},
      success_time = #{successTime,jdbcType=TIMESTAMP},
      settle_time = #{settleTime,jdbcType=TIMESTAMP},
      settle_no = #{settleNo,jdbcType=VARCHAR},
      settle_bath = #{settleBath,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=DECIMAL},
      settle_status = #{settleStatus,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP}
    where clearing_id = #{clearingId,jdbcType=BIGINT}
  </update>
  
  <select id="getTpdsSettleItemBath" parameterType="map" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from tpds_settle_item
    where merchant_no = #{merchantNo,jdbcType=VARCHAR} and trans_type = #{transType,jdbcType=VARCHAR}
    and success_time <![CDATA[<=]]> #{successTime} and settle_status = #{settleStatus,jdbcType=VARCHAR}
  </select>
  
  <update id="updateByTransNo" parameterType="map">
  	update tpds_settle_item
    set settle_status = #{settleStatus,jdbcType=VARCHAR},finish_time = #{finishTime,jdbcType=TIMESTAMP}
    where trans_no = #{transNo,jdbcType=VARCHAR}
  </update>
  
  
</mapper>