<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.tpds.dao.TpdsObjectTransDetailMapper" >
  <resultMap id="BaseResultMap" type="com.heepay.tpds.entity.TpdsObjectTransDetail" >
    <id column="acc_id" property="accId" jdbcType="BIGINT" />
    <result column="oder_no" property="oderNo" jdbcType="CHAR" />
    <result column="debit_account_no" property="debitAccountNo" jdbcType="VARCHAR" />
    <result column="cebit_account_no" property="cebitAccountNo" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="other_amounttype" property="otherAmounttype" jdbcType="CHAR" />
    <result column="other_amount" property="otherAmount" jdbcType="DECIMAL" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    acc_id, oder_no, debit_account_no, cebit_account_no, currency, amount, other_amounttype, 
    other_amount, object_id, note
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.heepay.tpds.entity.TpdsObjectTransDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tpds_object_trans_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tpds_object_trans_detail
    where acc_id = #{accId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tpds_object_trans_detail
    where acc_id = #{accId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heepay.tpds.entity.TpdsObjectTransDetailExample" >
    delete from tpds_object_trans_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heepay.tpds.entity.TpdsObjectTransDetail" >
    insert into tpds_object_trans_detail (acc_id, oder_no, debit_account_no, 
      cebit_account_no, currency, amount, 
      other_amounttype, other_amount, object_id, 
      note)
    values (#{accId,jdbcType=BIGINT}, #{oderNo,jdbcType=CHAR}, #{debitAccountNo,jdbcType=VARCHAR}, 
      #{cebitAccountNo,jdbcType=VARCHAR}, #{currency,jdbcType=CHAR}, #{amount,jdbcType=DECIMAL}, 
      #{otherAmounttype,jdbcType=CHAR}, #{otherAmount,jdbcType=DECIMAL}, #{objectId,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.heepay.tpds.entity.TpdsObjectTransDetail" >
    insert into tpds_object_trans_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        acc_id,
      </if>
      <if test="oderNo != null" >
        oder_no,
      </if>
      <if test="debitAccountNo != null" >
        debit_account_no,
      </if>
      <if test="cebitAccountNo != null" >
        cebit_account_no,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="otherAmounttype != null" >
        other_amounttype,
      </if>
      <if test="otherAmount != null" >
        other_amount,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        #{accId,jdbcType=BIGINT},
      </if>
      <if test="oderNo != null" >
        #{oderNo,jdbcType=CHAR},
      </if>
      <if test="debitAccountNo != null" >
        #{debitAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="cebitAccountNo != null" >
        #{cebitAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="otherAmounttype != null" >
        #{otherAmounttype,jdbcType=CHAR},
      </if>
      <if test="otherAmount != null" >
        #{otherAmount,jdbcType=DECIMAL},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heepay.tpds.entity.TpdsObjectTransDetailExample" resultType="java.lang.Integer" >
    select count(*) from tpds_object_trans_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tpds_object_trans_detail
    <set >
      <if test="record.accId != null" >
        acc_id = #{record.accId,jdbcType=BIGINT},
      </if>
      <if test="record.oderNo != null" >
        oder_no = #{record.oderNo,jdbcType=CHAR},
      </if>
      <if test="record.debitAccountNo != null" >
        debit_account_no = #{record.debitAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cebitAccountNo != null" >
        cebit_account_no = #{record.cebitAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=CHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.otherAmounttype != null" >
        other_amounttype = #{record.otherAmounttype,jdbcType=CHAR},
      </if>
      <if test="record.otherAmount != null" >
        other_amount = #{record.otherAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.objectId != null" >
        object_id = #{record.objectId,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tpds_object_trans_detail
    set acc_id = #{record.accId,jdbcType=BIGINT},
      oder_no = #{record.oderNo,jdbcType=CHAR},
      debit_account_no = #{record.debitAccountNo,jdbcType=VARCHAR},
      cebit_account_no = #{record.cebitAccountNo,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=CHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      other_amounttype = #{record.otherAmounttype,jdbcType=CHAR},
      other_amount = #{record.otherAmount,jdbcType=DECIMAL},
      object_id = #{record.objectId,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heepay.tpds.entity.TpdsObjectTransDetail" >
    update tpds_object_trans_detail
    <set >
      <if test="oderNo != null" >
        oder_no = #{oderNo,jdbcType=CHAR},
      </if>
      <if test="debitAccountNo != null" >
        debit_account_no = #{debitAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="cebitAccountNo != null" >
        cebit_account_no = #{cebitAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="otherAmounttype != null" >
        other_amounttype = #{otherAmounttype,jdbcType=CHAR},
      </if>
      <if test="otherAmount != null" >
        other_amount = #{otherAmount,jdbcType=DECIMAL},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where acc_id = #{accId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heepay.tpds.entity.TpdsObjectTransDetail" >
    update tpds_object_trans_detail
    set oder_no = #{oderNo,jdbcType=CHAR},
      debit_account_no = #{debitAccountNo,jdbcType=VARCHAR},
      cebit_account_no = #{cebitAccountNo,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=CHAR},
      amount = #{amount,jdbcType=DECIMAL},
      other_amounttype = #{otherAmounttype,jdbcType=CHAR},
      other_amount = #{otherAmount,jdbcType=DECIMAL},
      object_id = #{objectId,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where acc_id = #{accId,jdbcType=BIGINT}
  </update>
</mapper>