<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="rpcServer" class="com.heepay.rpc.server.ThriftServerFactory">
         <property name="address" value="${thrift.ens.ip}"></property>
		 <property name="open" value="${zookeeper.ens.open}"></property> 	
	     <property name="nodename" value="${thrift.ens.nodename}"></property>
	     <property name="zkserverip" value="${zookeeper.ens.ip}"></property>
    </bean>
   <bean class="com.heepay.rpc.server.ThriftRegister">
       <property name="rpcServer" ref="rpcServer"></property>
    </bean>
    <bean id="billServerClient" class="com.heepay.rpc.client.ThriftClientProxy">
         <property name="address" value="${bill.thrift.ens.ip}"></property>
		 <property name="open" value="${bill.zookeeper.ens.open}"></property> 	
	     <property name="nodename" value="${bill.thrift.ens.nodename}"></property>
	     <property name="zkserverip" value="${bill.zookeeper.ens.ip}"></property>
    </bean>
    <bean id="serverBankInfo" class="com.heepay.tpds.vo.ServerBankInfo">
    	 <property name="bankServerAddr" value="${tpdsCommonClient.bankHostInterfaceIp}"></property>
    	 <property name="bankHostPasswordUrl" value="${tpdsCommonClient.bankHostPasswordUrl}"></property>    	
    	 <property name="jctHostIp" value="${tpdsCommonClient.jctHostIp}"></property>    	
    	 <property name="signPrivateKey" value="${tpdsCommonClient.signPrivateKey}"></property>    	
    </bean>
</beans>