<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.risk.dao.BlackorwhiteListMapper" >
  <resultMap id="BaseResultMap" type="com.heepay.risk.entity.BlackorwhiteList" >
    <id column="black_id" property="blackId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_author" property="createAuthor" jdbcType="VARCHAR" />
    <result column="update_author" property="updateAuthor" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    black_id, name, type, status, product_code, category, desc, create_time, update_time, 
    create_author, update_author
  </sql>
  <select id="getlist" resultType="com.heepay.risk.entity.BlackorwhiteList" >
  select  black_id, name, type, status, product_code, category, `desc`,create_time, update_time,create_author, update_author from risk_blackorwhite_list where status='ENABLE'
  </select>
   <select id="get" parameterType="java.lang.Integer" resultType="com.heepay.risk.entity.BlackorwhiteList">
  select  black_id, name, type, status, product_code, category, `desc`,create_time, update_time,create_author, update_author from risk_blackorwhite_list where black_id= #{blackId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.heepay.risk.entity.BlackorwhiteList" useGeneratedKeys="true" keyProperty="blackId" >
    insert into risk_blackorwhite_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="desc != null" >
        `desc`,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createAuthor != null" >
        create_author,
      </if>
      <if test="updateAuthor != null" >
        update_author,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAuthor != null" >
        #{createAuthor,jdbcType=VARCHAR},
      </if>
      <if test="updateAuthor != null" >
        #{updateAuthor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   <update id="delete" parameterType="com.heepay.risk.entity.BlackorwhiteList">
  update risk_blackorwhite_list set status='DISABLE' where black_id = #{blackId,jdbcType=INTEGER}
  </update>
  
  <update id="update" parameterType="com.heepay.risk.entity.BlackorwhiteList" >
    update risk_blackorwhite_list
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAuthor != null" >
        create_author = #{createAuthor,jdbcType=VARCHAR},
      </if>
      <if test="updateAuthor != null" >
        update_author = #{updateAuthor,jdbcType=VARCHAR},
      </if>
    </set>
    where black_id = #{blackId,jdbcType=INTEGER}
  </update>
</mapper>