<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.risk.dao.PbcTransCardPaymentAccountMapper" >
<insert id="insert" parameterType="com.heepay.risk.entity.PbcTransCardPaymentAccount" useGeneratedKeys="true" keyProperty="transCardPaymentId">
    insert into pbc_trans_card_payment_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transCardPaymentId != null" >
        trans_card_payment_id,
      </if>
      <if test="onlinePayCompanyType != null" >
        online_pay_company_type,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="transFerAmount != null" >
        trans_fer_amount,
      </if>
      <if test="transBankId != null" >
        trans_bank_id,
      </if>
      <if test="transBankName != null" >
        trans_bank_name,
      </if>
      <if test="transCardNumber != null" >
        trans_card_number,
      </if>
      <if test="transAccountNumber != null" >
        trans_account_number,
      </if>
      <if test="posId != null" >
        pos_id,
      </if>
      <if test="merchantNumber != null" >
        merchant_number,
      </if>
      <if test="transOutBankId != null" >
        trans_out_bank_id,
      </if>
      <if test="transOutBankName != null" >
        trans_out_bank_name,
      </if>
      <if test="transOutCardNumber != null" >
        trans_out_card_number,
      </if>
      <if test="transOutAccountNumber != null" >
        trans_out_account_number,
      </if>
      <if test="transDeviceType != null" >
        trans_device_type,
      </if>
      <if test="transIp != null" >
        trans_ip,
      </if>
      <if test="transMac != null" >
        trans_mac,
      </if>
      <if test="transDeviceCode != null" >
        trans_device_code,
      </if>
      <if test="transLongitude != null" >
        trans_longitude,
      </if>
      <if test="transLatitude != null" >
        trans_latitude,
      </if>
      <if test="bankTransSerial != null" >
        bank_trans_serial,
      </if>
      <if test="feedBackId != null" >
        feed_back_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transCardPaymentId != null" >
        #{transCardPaymentId,jdbcType=BIGINT},
      </if>
      <if test="onlinePayCompanyType != null" >
        #{onlinePayCompanyType,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="transFerAmount != null" >
        #{transFerAmount,jdbcType=DECIMAL},
      </if>
      <if test="transBankId != null" >
        #{transBankId,jdbcType=VARCHAR},
      </if>
      <if test="transBankName != null" >
        #{transBankName,jdbcType=VARCHAR},
      </if>
      <if test="transCardNumber != null" >
        #{transCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="transAccountNumber != null" >
        #{transAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="posId != null" >
        #{posId,jdbcType=VARCHAR},
      </if>
      <if test="merchantNumber != null" >
        #{merchantNumber,jdbcType=VARCHAR},
      </if>
      <if test="transOutBankId != null" >
        #{transOutBankId,jdbcType=VARCHAR},
      </if>
      <if test="transOutBankName != null" >
        #{transOutBankName,jdbcType=VARCHAR},
      </if>
      <if test="transOutCardNumber != null" >
        #{transOutCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="transOutAccountNumber != null" >
        #{transOutAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="transDeviceType != null" >
        #{transDeviceType,jdbcType=VARCHAR},
      </if>
      <if test="transIp != null" >
        #{transIp,jdbcType=VARCHAR},
      </if>
      <if test="transMac != null" >
        #{transMac,jdbcType=VARCHAR},
      </if>
      <if test="transDeviceCode != null" >
        #{transDeviceCode,jdbcType=VARCHAR},
      </if>
      <if test="transLongitude != null" >
        #{transLongitude,jdbcType=DECIMAL},
      </if>
      <if test="transLatitude != null" >
        #{transLatitude,jdbcType=DECIMAL},
      </if>
      <if test="bankTransSerial != null" >
        #{bankTransSerial,jdbcType=VARCHAR},
      </if>
      <if test="feedBackId != null" >
        #{feedBackId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>