<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heepay.risk.dao.RiskIncomeQuotaMapper" >
  <resultMap id="BaseResultMap" type="com.heepay.risk.entity.RiskIncomeQuota" >
    <id column="quota_id" property="quotaId" jdbcType="BIGINT" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="day_income_quota_amount" property="dayIncomeQuotaAmount" jdbcType="DECIMAL" />
    <result column="income_direction" property="incomeDirection" jdbcType="VARCHAR" />
    <result column="create_author" property="createAuthor" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_author" property="updateAuthor" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    quota_id, merchant_id, day_income_quota_amount, income_direction, create_author, 
    create_time, update_author, update_time, STATUS
  </sql>
  <insert id="insert" parameterType="com.heepay.risk.entity.RiskIncomeQuota" >
    insert into risk_income_quota
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quotaId != null" >
        quota_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="dayIncomeQuotaAmount != null" >
        day_income_quota_amount,
      </if>
      <if test="incomeDirection != null" >
        income_direction,
      </if>
      <if test="createAuthor != null" >
        create_author,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateAuthor != null" >
        update_author,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quotaId != null" >
        #{quotaId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="dayIncomeQuotaAmount != null" >
        #{dayIncomeQuotaAmount,jdbcType=DECIMAL},
      </if>
      <if test="incomeDirection != null" >
        #{incomeDirection,jdbcType=VARCHAR},
      </if>
      <if test="createAuthor != null" >
        #{createAuthor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAuthor != null" >
        #{updateAuthor,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
 
  <update id="update" parameterType="com.heepay.risk.entity.RiskIncomeQuota" >
    update risk_income_quota
    <set >
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="dayIncomeQuotaAmount != null" >
        day_income_quota_amount = #{dayIncomeQuotaAmount,jdbcType=DECIMAL},
      </if>
      <if test="incomeDirection != null" >
        income_direction = #{incomeDirection,jdbcType=VARCHAR},
      </if>
      <if test="createAuthor != null" >
        create_author = #{createAuthor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAuthor != null" >
        update_author = #{updateAuthor,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where quota_id = #{quotaId,jdbcType=BIGINT}
  </update>
  <select id="getlist" resultType="com.heepay.risk.entity.RiskIncomeQuota">
  select  quota_id, merchant_id, day_income_quota_amount, income_direction, create_author, 
    create_time, update_author, update_time, STATUS from risk_income_quota where STATUS='Y'
  </select>
   <select id="get" parameterType="java.lang.Long" resultType="com.heepay.risk.entity.RiskIncomeQuota">
  select  quota_id, merchant_id, day_income_quota_amount, income_direction, create_author, 
    create_time, update_author, update_time, STATUS from risk_income_quota where quota_id=#{id,jdbcType=BIGINT}
  </select>
</mapper>